<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.alipay.account.mapper.AlipayPhoneChangeLogMapper">
    <!-- ALIPAY_PHONE_CHANGE_LOG 由 alipay-account-server 独占写入，DDL 在本模块 sql/alipay-account-server-schema.sql。 -->
    <insert id="insert" parameterType="com.chinasofti.huateng.alipay.account.entity.AlipayPhoneChangeLog">
        INSERT INTO ALIPAY_PHONE_CHANGE_LOG (
            ID, THIRD_USER_ID, OLD_MSISDN, NEW_MSISDN,
            OPER_TYPE, OPER_TIME, OPERATOR, REMARK, CREATE_TMS
        ) VALUES (
            SEQ_ALIPAY_PHONE_CHANGE_LOG.NEXTVAL,
            #{thirdUserId}, #{oldMsisdn}, #{newMsisdn},
            #{operType}, #{operTime}, #{operator}, #{remark}, #{createTms}
        )
    </insert>
</mapper>
