<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.ticket.mapper.QRCodeTxnDetailMapper">
    <insert id="insert" parameterType="com.chinasofti.huateng.ticket.entity.QRCodeTxnDetail">
        INSERT INTO QRCODE_TXN_DETAIL (
            ID,
            DEVICE_ID,
            ITP_USER_ID,
            TRX_TYPE,
            ISSUE_CHANNEL_CODE,
            SIGN_CHANNEL_CODE,
            CARD_ID,
            CARD_TYPE,
            HANDLE_DATE_TIME,
            TXN_DATE,
            HANDLE_STATION_CODE,
            TRX_AMOUNT,
            OVERTIME_AMOUNT,
            LAST_TICKET_STATUS,
            HANDLE_RESULT_CODE,
            LAST_HANDLE_STATION_CODE,
            LAST_HANDLE_DATE_TIME,
            TICKET_TRANS_SEQ,
            RESERVE1,
            RESERVE2,
            CREATE_TIME
        ) VALUES (
            SEQ_QRCODE_TXN_DETAIL.NEXTVAL,
            #{deviceId,jdbcType=VARCHAR},
            #{itpUserId,jdbcType=VARCHAR},
            #{trxType,jdbcType=VARCHAR},
            #{issueChannelCode,jdbcType=VARCHAR},
            #{signChannelCode,jdbcType=VARCHAR},
            #{cardId,jdbcType=VARCHAR},
            #{cardType,jdbcType=VARCHAR},
            #{handleDateTime,jdbcType=VARCHAR},
            #{txnDate,jdbcType=VARCHAR},
            #{handleStationCode,jdbcType=VARCHAR},
            #{trxAmount,jdbcType=NUMERIC},
            #{overtimeAmount,jdbcType=NUMERIC},
            #{lastTicketStatus,jdbcType=VARCHAR},
            #{handleResultCode,jdbcType=VARCHAR},
            #{lastHandleStationCode,jdbcType=VARCHAR},
            #{lastHandleDateTime,jdbcType=VARCHAR},
            #{ticketTransSeq,jdbcType=VARCHAR},
            #{reserve1,jdbcType=VARCHAR},
            #{reserve2,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="selectLatestByCardId" resultType="com.chinasofti.huateng.ticket.entity.QRCodeTxnDetail">
        SELECT *
        FROM (
            SELECT
                ID AS id,
                DEVICE_ID AS deviceId,
                ITP_USER_ID AS itpUserId,
                TRX_TYPE AS trxType,
                ISSUE_CHANNEL_CODE AS issueChannelCode,
                SIGN_CHANNEL_CODE AS signChannelCode,
                CARD_ID AS cardId,
                CARD_TYPE AS cardType,
                HANDLE_DATE_TIME AS handleDateTime,
                TXN_DATE AS txnDate,
                HANDLE_STATION_CODE AS handleStationCode,
                TRX_AMOUNT AS trxAmount,
                OVERTIME_AMOUNT AS overtimeAmount,
                LAST_TICKET_STATUS AS lastTicketStatus,
                HANDLE_RESULT_CODE AS handleResultCode,
                LAST_HANDLE_STATION_CODE AS lastHandleStationCode,
                LAST_HANDLE_DATE_TIME AS lastHandleDateTime,
                TICKET_TRANS_SEQ AS ticketTransSeq,
                RESERVE1 AS reserve1,
                RESERVE2 AS reserve2,
                CREATE_TIME AS createTime
            FROM QRCODE_TXN_DETAIL
            WHERE CARD_ID = #{cardId,jdbcType=VARCHAR}
            ORDER BY HANDLE_DATE_TIME DESC, ID DESC
        )
        WHERE ROWNUM = 1
    </select>

    <select id="selectLatestEntryByCardId" resultType="com.chinasofti.huateng.ticket.entity.QRCodeTxnDetail">
        SELECT *
        FROM (
            SELECT
                ID AS id,
                DEVICE_ID AS deviceId,
                ITP_USER_ID AS itpUserId,
                TRX_TYPE AS trxType,
                ISSUE_CHANNEL_CODE AS issueChannelCode,
                SIGN_CHANNEL_CODE AS signChannelCode,
                CARD_ID AS cardId,
                CARD_TYPE AS cardType,
                HANDLE_DATE_TIME AS handleDateTime,
                TXN_DATE AS txnDate,
                HANDLE_STATION_CODE AS handleStationCode,
                TRX_AMOUNT AS trxAmount,
                OVERTIME_AMOUNT AS overtimeAmount,
                LAST_TICKET_STATUS AS lastTicketStatus,
                HANDLE_RESULT_CODE AS handleResultCode,
                LAST_HANDLE_STATION_CODE AS lastHandleStationCode,
                LAST_HANDLE_DATE_TIME AS lastHandleDateTime,
                TICKET_TRANS_SEQ AS ticketTransSeq,
                RESERVE1 AS reserve1,
                RESERVE2 AS reserve2,
                CREATE_TIME AS createTime
            FROM QRCODE_TXN_DETAIL
            WHERE CARD_ID = #{cardId,jdbcType=VARCHAR}
              AND TRX_TYPE = '01'
            ORDER BY HANDLE_DATE_TIME DESC, ID DESC
        )
        WHERE ROWNUM = 1
    </select>

    <select id="selectFirstEntryBySequence" resultType="com.chinasofti.huateng.ticket.entity.QRCodeTxnDetail">
        SELECT *
        FROM (
            SELECT ID AS id, DEVICE_ID AS deviceId, ITP_USER_ID AS itpUserId,
                   TRX_TYPE AS trxType, ISSUE_CHANNEL_CODE AS issueChannelCode,
                   SIGN_CHANNEL_CODE AS signChannelCode, CARD_ID AS cardId,
                   CARD_TYPE AS cardType, HANDLE_DATE_TIME AS handleDateTime,
                   TXN_DATE AS txnDate, HANDLE_STATION_CODE AS handleStationCode,
                   TRX_AMOUNT AS trxAmount, OVERTIME_AMOUNT AS overtimeAmount,
                   TICKET_TRANS_SEQ AS ticketTransSeq, CREATE_TIME AS createTime
            FROM QRCODE_TXN_DETAIL
            WHERE CARD_ID = #{cardId,jdbcType=VARCHAR}
              AND TICKET_TRANS_SEQ = #{ticketTransSeq,jdbcType=VARCHAR}
              AND TRX_TYPE = '01'
            ORDER BY HANDLE_DATE_TIME ASC, ID ASC
        )
        WHERE ROWNUM = 1
    </select>

    <resultMap id="transRecordResultMap" type="com.chinasofti.huateng.model.app.TransRecordDTO">
        <result column="HANDLE_STATION_CODE" property="entryStationName"/>
        <result column="HANDLE_DATE_TIME" property="entryDate"/>
        <result column="LAST_HANDLE_STATION_CODE" property="exitStationName"/>
        <result column="LAST_HANDLE_DATE_TIME" property="exitDate"/>
        <result column="TRX_AMOUNT" property="payAmount"/>
        <result column="HANDLE_RESULT_CODE" property="orderExpType"/>
        <result column="TICKET_TRANS_SEQ" property="tradeOrderNo"/>
        <result column="RESERVE1" property="payTradeOrderNo"/>
        <result column="PAY_ORDER_NO_DATE" property="payOrderNoDate"/>
        <result column="CARD_ID" property="cardNum"/>
    </resultMap>

    <resultMap id="modelTransRecordResultMap" type="com.chinasofti.huateng.model.app.TransRecordDTO">
        <result column="HANDLE_STATION_CODE" property="entryStationName"/>
        <result column="HANDLE_DATE_TIME" property="entryDate"/>
        <result column="LAST_HANDLE_STATION_CODE" property="exitStationName"/>
        <result column="LAST_HANDLE_DATE_TIME" property="exitDate"/>
        <result column="TRX_AMOUNT" property="payAmount"/>
        <result column="HANDLE_RESULT_CODE" property="orderExpType"/>
        <result column="TICKET_TRANS_SEQ" property="ticketTransSeq"/>
        <result column="RESERVE1" property="payTradeOrderNo"/>
        <result column="PAY_ORDER_NO_DATE" property="payOrderNoDate"/>
        <result column="CARD_ID" property="cardNum"/>
        <result column="CARD_TYPE" property="trxType"/>
        <result column="DEVICE_ID" property="deviceId"/>
    </resultMap>

    <resultMap id="alipayTripTravelRecordResultMap" type="com.chinasofti.huateng.model.alipaytrip.AlipayTripTravelRecordDTO">
        <result column="HANDLE_STATION_CODE" property="entryStationName"/>
        <result column="HANDLE_DATE_TIME" property="entryDate"/>
        <result column="LAST_HANDLE_STATION_CODE" property="exitStationName"/>
        <result column="LAST_HANDLE_DATE_TIME" property="exitDate"/>
        <result column="TRX_AMOUNT" property="payAmount"/>
        <result column="TOTAL_AMOUNT" property="totalAmount"/>
        <result column="TICKET_TRANS_SEQ" property="tradeOrderNo"/>
        <result column="RESERVE1" property="payTradeOrderNo"/>
        <result column="PAY_ORDER_NO_DATE" property="payOrderNoDate"/>
        <result column="TRX_TYPE" property="companionFlag"/>
        <result column="CARD_ID" property="cardNum"/>
        <result column="CARD_TYPE" property="ticketCode"/>
    </resultMap>

    <select id="selectTransList" resultMap="transRecordResultMap">
        <bind name="offsetEnd" value="offset + limit" />
        SELECT *
        FROM (
            SELECT
                HANDLE_STATION_CODE,
                HANDLE_DATE_TIME,
                LAST_HANDLE_STATION_CODE,
                LAST_HANDLE_DATE_TIME,
                TRX_AMOUNT,
                OVERTIME_AMOUNT,
                HANDLE_RESULT_CODE,
                TICKET_TRANS_SEQ,
                RESERVE1,
                TO_CHAR(CREATE_TIME, 'YYYYMMDDHH24MISS') AS PAY_ORDER_NO_DATE,
                SIGN_CHANNEL_CODE,
                LAST_TICKET_STATUS,
                RESERVE2,
                TRX_TYPE,
                CARD_ID,
                CARD_TYPE,
                DEVICE_ID,
                ROW_NUMBER() OVER (ORDER BY HANDLE_DATE_TIME DESC, ID DESC) AS rn
            FROM QRCODE_TXN_DETAIL
            WHERE 1=1
            <if test="thirdUserId != null and thirdUserId != ''">
                AND ITP_USER_ID = #{thirdUserId,jdbcType=VARCHAR}
            </if>
            <if test="cardIdList != null and !cardIdList.isEmpty()">
                AND CARD_ID IN
                <foreach item="item" collection="cardIdList" open="(" separator="," close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="cardType != null and cardType != ''">
                AND CARD_TYPE = #{cardType}
            </if>
            <if test="startDate != null and startDate != ''">
                AND TXN_DATE &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND TXN_DATE &lt;= #{endDate}
            </if>
        )
        WHERE rn &gt; #{offset} AND rn &lt;= #{offsetEnd}
    </select>

    <select id="countTransList" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM QRCODE_TXN_DETAIL
        WHERE 1=1
        <if test="thirdUserId != null and thirdUserId != ''">
            AND ITP_USER_ID = #{thirdUserId,jdbcType=VARCHAR}
        </if>
        <if test="cardIdList != null and !cardIdList.isEmpty()">
            AND CARD_ID IN
            <foreach item="item" collection="cardIdList" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="cardType != null and cardType != ''">
            AND CARD_TYPE = #{cardType}
        </if>
        <if test="startDate != null and startDate != ''">
            AND TXN_DATE &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            AND TXN_DATE &lt;= #{endDate}
        </if>
    </select>

    <select id="selectOperationPage" resultType="com.chinasofti.huateng.ticket.entity.QRCodeTxnDetail">
        <bind name="offsetEnd" value="offset + limit" />
        SELECT page.*, currentStation.STATION_NAME AS handleStationName,
               lastStation.STATION_NAME AS lastHandleStationName
        FROM (
            SELECT
                ID AS id,
                DEVICE_ID AS deviceId,
                ITP_USER_ID AS itpUserId,
                TRX_TYPE AS trxType,
                ISSUE_CHANNEL_CODE AS issueChannelCode,
                SIGN_CHANNEL_CODE AS signChannelCode,
                CARD_ID AS cardId,
                CARD_TYPE AS cardType,
                HANDLE_DATE_TIME AS handleDateTime,
                TXN_DATE AS txnDate,
                HANDLE_STATION_CODE AS handleStationCode,
                TRX_AMOUNT AS trxAmount,
                OVERTIME_AMOUNT AS overtimeAmount,
                LAST_TICKET_STATUS AS lastTicketStatus,
                HANDLE_RESULT_CODE AS handleResultCode,
                LAST_HANDLE_STATION_CODE AS lastHandleStationCode,
                LAST_HANDLE_DATE_TIME AS lastHandleDateTime,
                TICKET_TRANS_SEQ AS ticketTransSeq,
                CREATE_TIME AS createTime,
                ROW_NUMBER() OVER (ORDER BY HANDLE_DATE_TIME DESC, ID DESC) AS rn
            FROM QRCODE_TXN_DETAIL
            WHERE 1 = 1
            <if test="cardId != null and cardId != ''">
                AND CARD_ID = #{cardId,jdbcType=VARCHAR}
            </if>
            <if test="thirdUserId != null and thirdUserId != ''">
                AND ITP_USER_ID = #{thirdUserId,jdbcType=VARCHAR}
            </if>
            <if test="signChannelCode != null and signChannelCode != ''">
                AND SIGN_CHANNEL_CODE = #{signChannelCode,jdbcType=VARCHAR}
            </if>
            <if test="cardType != null and cardType != ''">
                AND CARD_TYPE = #{cardType,jdbcType=VARCHAR}
            </if>
            <if test="startDate != null and startDate != ''">
                AND TXN_DATE &gt;= #{startDate,jdbcType=VARCHAR}
            </if>
            <if test="endDate != null and endDate != ''">
                AND TXN_DATE &lt;= #{endDate,jdbcType=VARCHAR}
            </if>
        ) page
        LEFT JOIN STATION_INFO currentStation ON currentStation.STATION_CODE = page.handleStationCode
        LEFT JOIN STATION_INFO lastStation ON lastStation.STATION_CODE = page.lastHandleStationCode
        WHERE page.rn &gt; #{offset} AND page.rn &lt;= #{offsetEnd}
    </select>

    <select id="selectStationNames" resultType="java.util.HashMap">
        SELECT STATION_CODE, STATION_NAME
        FROM STATION_INFO
        WHERE STATION_CODE IN
        <foreach item="code" collection="codes" open="(" separator="," close=")">
            #{code,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="countOperationPage" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM QRCODE_TXN_DETAIL
        WHERE 1 = 1
        <if test="cardId != null and cardId != ''">
            AND CARD_ID = #{cardId,jdbcType=VARCHAR}
        </if>
        <if test="thirdUserId != null and thirdUserId != ''">
            AND ITP_USER_ID = #{thirdUserId,jdbcType=VARCHAR}
        </if>
        <if test="signChannelCode != null and signChannelCode != ''">
            AND SIGN_CHANNEL_CODE = #{signChannelCode,jdbcType=VARCHAR}
        </if>
        <if test="cardType != null and cardType != ''">
            AND CARD_TYPE = #{cardType,jdbcType=VARCHAR}
        </if>
        <if test="startDate != null and startDate != ''">
            AND TXN_DATE &gt;= #{startDate,jdbcType=VARCHAR}
        </if>
        <if test="endDate != null and endDate != ''">
            AND TXN_DATE &lt;= #{endDate,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectAlipayTravelList" resultMap="alipayTripTravelRecordResultMap">
        <bind name="offsetEnd" value="offset + limit" />
        SELECT *
        FROM (
            SELECT
                HANDLE_STATION_CODE,
                HANDLE_DATE_TIME,
                LAST_HANDLE_STATION_CODE,
                LAST_HANDLE_DATE_TIME,
                TRX_AMOUNT,
                NVL(TRX_AMOUNT, 0) + NVL(OVERTIME_AMOUNT, 0) AS TOTAL_AMOUNT,
                TICKET_TRANS_SEQ,
                RESERVE1,
                TO_CHAR(CREATE_TIME, 'YYYYMMDDHH24MISS') AS PAY_ORDER_NO_DATE,
                SIGN_CHANNEL_CODE,
                RESERVE2,
                TRX_TYPE,
                CARD_ID,
                CARD_TYPE,
                ROW_NUMBER() OVER (ORDER BY HANDLE_DATE_TIME DESC, ID DESC) AS rn
            FROM QRCODE_TXN_DETAIL
            WHERE ISSUE_CHANNEL_CODE = '07'
              <if test="thirdUserId != null and thirdUserId != ''">
                  AND ITP_USER_ID = #{thirdUserId}
              </if>
              <if test="startDate != null and startDate != ''">
                  AND TXN_DATE &gt;= #{startDate}
              </if>
              <if test="endDate != null and endDate != ''">
                  AND TXN_DATE &lt;= #{endDate}
              </if>
        )
        WHERE rn &gt; #{offset} AND rn &lt;= #{offsetEnd}
    </select>

    <select id="countAlipayTravelList" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM QRCODE_TXN_DETAIL
        WHERE ISSUE_CHANNEL_CODE = '07'
          <if test="thirdUserId != null and thirdUserId != ''">
              AND ITP_USER_ID = #{thirdUserId}
          </if>
          <if test="startDate != null and startDate != ''">
              AND TXN_DATE &gt;= #{startDate}
          </if>
          <if test="endDate != null and endDate != ''">
              AND TXN_DATE &lt;= #{endDate}
          </if>
    </select>

    <select id="selectAlipayTravelDetail" resultMap="alipayTripTravelRecordResultMap">
        SELECT
            HANDLE_STATION_CODE,
            HANDLE_DATE_TIME,
            LAST_HANDLE_STATION_CODE,
            LAST_HANDLE_DATE_TIME,
            TRX_AMOUNT,
            NVL(TRX_AMOUNT, 0) + NVL(OVERTIME_AMOUNT, 0) AS TOTAL_AMOUNT,
            TICKET_TRANS_SEQ,
            RESERVE1,
            TO_CHAR(CREATE_TIME, 'YYYYMMDDHH24MISS') AS PAY_ORDER_NO_DATE,
            SIGN_CHANNEL_CODE,
            RESERVE2,
            TRX_TYPE,
            CARD_ID,
            CARD_TYPE
        FROM QRCODE_TXN_DETAIL
        WHERE ISSUE_CHANNEL_CODE = '07'
          AND ITP_USER_ID = #{thirdUserId}
          AND TICKET_TRANS_SEQ = #{orderNo}
          <if test="cardId != null and cardId != ''">
              AND CARD_ID = #{cardId}
          </if>
    </select>

    <select id="selectAlipayTravelDetailByUserAndDateTime" resultMap="alipayTripTravelRecordResultMap">
        SELECT
            HANDLE_STATION_CODE,
            HANDLE_DATE_TIME,
            LAST_HANDLE_STATION_CODE,
            LAST_HANDLE_DATE_TIME,
            TRX_AMOUNT,
            NVL(TRX_AMOUNT, 0) + NVL(OVERTIME_AMOUNT, 0) AS TOTAL_AMOUNT,
            TICKET_TRANS_SEQ,
            RESERVE1,
            TO_CHAR(CREATE_TIME, 'YYYYMMDDHH24MISS') AS PAY_ORDER_NO_DATE,
            SIGN_CHANNEL_CODE,
            RESERVE2,
            TRX_TYPE,
            CARD_ID,
            CARD_TYPE
        FROM QRCODE_TXN_DETAIL
        WHERE ISSUE_CHANNEL_CODE = '07'
          AND ITP_USER_ID = #{thirdUserId}
          AND HANDLE_DATE_TIME = #{handleDateTime}
          AND TRX_TYPE = #{trxType}
    </select>

    <select id="selectExcessFareDetail" resultType="com.chinasofti.huateng.ticket.entity.QRCodeTxnDetail">
        SELECT ID AS id,
               CARD_ID AS cardId,
               TRX_TYPE AS trxType,
               HANDLE_DATE_TIME AS handleDateTime,
               TICKET_TRANS_SEQ AS ticketTransSeq,
               DEVICE_ID AS deviceId
        FROM QRCODE_TXN_DETAIL
        WHERE CARD_ID = #{cardId,jdbcType=VARCHAR}
          AND TRX_TYPE = #{trxType,jdbcType=VARCHAR}
          AND HANDLE_DATE_TIME = #{handleDateTime,jdbcType=VARCHAR}
          AND TICKET_TRANS_SEQ = #{ticketTransSeq,jdbcType=VARCHAR}
    </select>

    <resultMap id="tripDataResultMap" type="com.chinasofti.huateng.model.app.TripDataDTO">
        <result column="count" property="count"/>
        <result column="totalDebit" property="totalDebit"/>
        <result column="totalPrice" property="totalPrice"/>
        <result column="totalDiscount" property="totalDiscount"/>
    </resultMap>

    <resultMap id="requestTransStatisticsResultMap" type="com.chinasofti.huateng.model.app.RequestTransStatisticsResult">
        <association property="tripData" resultMap="tripDataResultMap"/>
    </resultMap>

    <select id="selectTransDetail" resultMap="modelTransRecordResultMap">
        SELECT
            HANDLE_STATION_CODE,
            HANDLE_DATE_TIME,
            LAST_HANDLE_STATION_CODE,
            LAST_HANDLE_DATE_TIME,
            TRX_AMOUNT,
            OVERTIME_AMOUNT,
            HANDLE_RESULT_CODE,
            TICKET_TRANS_SEQ,
            RESERVE1,
            TO_CHAR(CREATE_TIME, 'YYYYMMDDHH24MISS') AS PAY_ORDER_NO_DATE,
            SIGN_CHANNEL_CODE,
            LAST_TICKET_STATUS,
            RESERVE2,
            TRX_TYPE,
            CARD_ID,
            CARD_TYPE
        FROM QRCODE_TXN_DETAIL
        WHERE ITP_USER_ID = #{thirdUserId,jdbcType=VARCHAR}
          AND TICKET_TRANS_SEQ = #{orderNo,jdbcType=VARCHAR}
        ORDER BY HANDLE_DATE_TIME ASC
    </select>

    <!-- IF8A-41 账单统计。三条口径约束，改动前逐条确认：
         1) TRX_TYPE IN ('02','03') 只算出站行。本表一行是一次闸机事件、进站行也在其中，
            不过滤则 COUNT(1) 统计的是刷卡次数而非乘车次数（2026-09-10 实测用户 00522949
            有 2 进 1 出，count 返回 3 而实际只 1 趟完整行程）。02=正常出站、03=超时出站，
            与 TrxTypeCodeEnum.isExitTxn 同口径。金额不受影响——进站行 TRX_AMOUNT 恒为 0，
            所以此前金额碰巧正确、只有 count 是错的，NEVER 因为「金额对」就认为口径没问题。
         2) CARD_TYPE IN 是票种过滤的唯一依据。未开通某票种时 APP 不带 cardId（实测 NFC 页签
            只有 thirdUserId + cardType），缺此条件 SQL 退化成按用户查全部票种，把其他票种
            合计进来（实测 4 票种用户会合计 47 条）。
         3) CARD_ID 的 <if> MUST 判 cardIdList 非空，NEVER 判 cardId——cardId="," 这类畸形入参
            拆分过滤后 cardIdList 为空而 cardId 非空，会生成 AND CARD_ID IN () 并抛 ORA-00936。
         totalDiscount 取 OVERTIME_AMOUNT（超时加收），语义与「优惠」相反。
         【已废弃 2026-09-10】IF8A-41 统计已迁至 GateTxnPayMapper.selectTransStatistics（源表 GATE_TXN_PAY，
         同时有 ORIGINAL_FARE / TRX_AMOUNT / OVERTIME_AMOUNT / TOTAL_AMOUNT 四个量，能算真优惠）。
         本 SQL 仅作历史留档，NEVER 重新接线。 -->
    <select id="selectTransStatistics" resultMap="requestTransStatisticsResultMap">
        SELECT
            COUNT(1) AS count,
            ROUND(SUM(NVL(TRX_AMOUNT, 0)) / 100, 2) AS totalDebit,
            ROUND(SUM(NVL(TRX_AMOUNT, 0) + NVL(OVERTIME_AMOUNT, 0)) / 100, 2) AS totalPrice,
            ROUND(SUM(NVL(OVERTIME_AMOUNT, 0)) / 100, 2) AS totalDiscount
        FROM QRCODE_TXN_DETAIL
        WHERE TRX_TYPE IN ('02', '03')
        <if test="request.thirdUserId != null and request.thirdUserId != ''">
            AND ITP_USER_ID = #{request.thirdUserId,jdbcType=VARCHAR}
        </if>
        <if test="request.cardTypeList != null and !request.cardTypeList.isEmpty()">
            AND CARD_TYPE IN
            <foreach collection="request.cardTypeList" item="ct" open="(" separator="," close=")">
                #{ct,jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="request.startDate != null and request.startDate != ''">
            AND TXN_DATE &gt;= #{request.startDate,jdbcType=VARCHAR}
        </if>
        <if test="request.endDate != null and request.endDate != ''">
            AND TXN_DATE &lt;= #{request.endDate,jdbcType=VARCHAR}
        </if>
        <if test="request.cardIdList != null and !request.cardIdList.isEmpty()">
            AND CARD_ID IN
            <foreach item="item" collection="request.cardIdList" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>
</mapper>
