<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.dailyticket.mapper.DailyTicketRefundMapper">
    <resultMap id="BaseResultMap" type="com.chinasofti.huateng.dailyticket.model.DailyTicketRefund">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo"/>
        <result column="REFUND_ORDER_NO" jdbcType="VARCHAR" property="refundOrderNo"/>
        <result column="PLATFORM_REFUND_NO" jdbcType="VARCHAR" property="platformRefundNo"/>
        <result column="REFUND_AMOUNT" jdbcType="INTEGER" property="refundAmount"/>
        <result column="REFUND_STATUS" jdbcType="VARCHAR" property="refundStatus"/>
        <result column="REFUND_TYPE" jdbcType="VARCHAR" property="refundType"/>
        <result column="REFUND_DATE" jdbcType="TIMESTAMP" property="refundDate"/>
        <result column="VERIFY_AFTER_TIME" jdbcType="TIMESTAMP" property="verifyAfterTime"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="NOTIFY_STATUS" jdbcType="VARCHAR" property="notifyStatus"/>
        <result column="NOTIFY_TIMES" jdbcType="INTEGER" property="notifyTimes"/>
        <result column="NOTIFY_TIME" jdbcType="TIMESTAMP" property="notifyTime"/>
        <result column="NOTIFY_MSG" jdbcType="VARCHAR" property="notifyMsg"/>
    </resultMap>

    <select id="selectByOrderNo" resultMap="BaseResultMap">
        select ID, ORDER_NO, REFUND_ORDER_NO, PLATFORM_REFUND_NO, REFUND_AMOUNT, REFUND_STATUS,
               REFUND_TYPE, REFUND_DATE, VERIFY_AFTER_TIME, CREATE_TIME, UPDATE_TIME,
               NOTIFY_STATUS, NOTIFY_TIMES, NOTIFY_TIME, NOTIFY_MSG
        from DAILY_TICKET_REFUND
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </select>

    <select id="selectRefunds" resultType="com.chinasofti.huateng.dailyticket.page.DailyTicketRefundView">
        select R.ORDER_NO as orderNo,
               R.REFUND_ORDER_NO as refundOrderNo,
               R.PLATFORM_REFUND_NO as platformRefundNo,
               R.REFUND_AMOUNT as refundAmount,
               R.REFUND_STATUS as refundStatus,
               R.REFUND_TYPE as refundType,
               R.REFUND_DATE as refundDate,
               R.VERIFY_AFTER_TIME as verifyAfterTime,
               R.CREATE_TIME as createTime,
               R.UPDATE_TIME as updateTime,
               O.PAYMENT_ORDER_NO as paymentOrderNo,
               O.TICKET_NAME as ticketName,
               O.ORDER_STATUS as orderStatus,
               I.TICKET_STATUS as ticketStatus
        from DAILY_TICKET_REFUND R
        left join DAILY_TICKET_ORDER O on O.ORDER_NO = R.ORDER_NO
        left join DAILY_TICKET_INSTANCE I on I.ORDER_NO = R.ORDER_NO
        <where>
            <if test="beginTime != null">
                and R.CREATE_TIME <![CDATA[ >= ]]> #{beginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                and R.CREATE_TIME <![CDATA[ <= ]]> #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and R.ORDER_NO = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="paymentOrderNo != null and paymentOrderNo != ''">
                and O.PAYMENT_ORDER_NO = #{paymentOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="refundOrderNo != null and refundOrderNo != ''">
                and R.REFUND_ORDER_NO = #{refundOrderNo,jdbcType=VARCHAR}
            </if>
            <if test="refundStatus != null and refundStatus != ''">
                and R.REFUND_STATUS = #{refundStatus,jdbcType=VARCHAR}
            </if>
        </where>
        order by R.CREATE_TIME desc
    </select>

    <insert id="insert" parameterType="com.chinasofti.huateng.dailyticket.model.DailyTicketRefund">
        insert into DAILY_TICKET_REFUND (
            ID, ORDER_NO, REFUND_ORDER_NO, PLATFORM_REFUND_NO, REFUND_AMOUNT, REFUND_STATUS,
            REFUND_TYPE, REFUND_DATE, VERIFY_AFTER_TIME, CREATE_TIME, UPDATE_TIME
        ) values (
            #{id,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{refundOrderNo,jdbcType=VARCHAR}, #{platformRefundNo,jdbcType=VARCHAR},
            #{refundAmount,jdbcType=INTEGER}, #{refundStatus,jdbcType=VARCHAR},
            #{refundType,jdbcType=VARCHAR}, #{refundDate,jdbcType=TIMESTAMP},
            #{verifyAfterTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateResult" parameterType="com.chinasofti.huateng.dailyticket.model.DailyTicketRefund">
        update DAILY_TICKET_REFUND
        set REFUND_STATUS = #{refundStatus,jdbcType=VARCHAR},
            PLATFORM_REFUND_NO = NVL(#{platformRefundNo,jdbcType=VARCHAR}, PLATFORM_REFUND_NO),
            REFUND_DATE = #{refundDate,jdbcType=TIMESTAMP},
            UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </update>

    <update id="updateNotifyStatus">
        update DAILY_TICKET_REFUND
        set NOTIFY_STATUS = #{notifyStatus,jdbcType=VARCHAR},
            NOTIFY_TIMES = #{notifyTimes,jdbcType=INTEGER},
            NOTIFY_TIME = #{notifyTime,jdbcType=TIMESTAMP},
            NOTIFY_MSG = #{notifyMsg,jdbcType=VARCHAR},
            UPDATE_TIME = SYSTIMESTAMP
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </update>

    <select id="selectPendingNotify" resultMap="BaseResultMap">
        select ID, ORDER_NO, REFUND_ORDER_NO, PLATFORM_REFUND_NO, REFUND_AMOUNT, REFUND_STATUS,
               REFUND_TYPE, REFUND_DATE, VERIFY_AFTER_TIME, CREATE_TIME, UPDATE_TIME,
               NOTIFY_STATUS, NOTIFY_TIMES, NOTIFY_TIME, NOTIFY_MSG
        from DAILY_TICKET_REFUND
        where NOTIFY_STATUS = 'PENDING'
          and NVL(NOTIFY_TIMES, 0) <![CDATA[ < ]]> #{maxTimes,jdbcType=INTEGER}
        order by UPDATE_TIME
        fetch first #{limit,jdbcType=INTEGER} rows only
    </select>
</mapper>
