<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.dailyticket.mapper.DailyTicketOrderMapper">
    <resultMap id="BaseResultMap" type="com.chinasofti.huateng.dailyticket.model.DailyTicketOrder">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo"/>
        <result column="ORDER_TYPE" jdbcType="VARCHAR" property="orderType"/>
        <result column="PARENT_ORDER_NO" jdbcType="VARCHAR" property="parentOrderNo"/>
        <result column="THIRD_USER_ID" jdbcType="VARCHAR" property="thirdUserId"/>
        <result column="USER_ID" jdbcType="VARCHAR" property="userId"/>
        <result column="ORDER_SOURCE" jdbcType="VARCHAR" property="orderSource"/>
        <result column="CARD_TYPE" jdbcType="VARCHAR" property="cardType"/>
        <result column="SHOW_TYPE" jdbcType="VARCHAR" property="showType"/>
        <result column="TICKET_NAME" jdbcType="VARCHAR" property="ticketName"/>
        <result column="TICKET_PRICE" jdbcType="INTEGER" property="ticketPrice"/>
        <result column="PAY_AMOUNT" jdbcType="INTEGER" property="payAmount"/>
        <result column="PAY_CHANNEL_CODE" jdbcType="VARCHAR" property="payChannelCode"/>
        <result column="CHANNEL_TYPE" jdbcType="VARCHAR" property="channelType"/>
        <result column="PAY_SCENE" jdbcType="VARCHAR" property="payScene"/>
        <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus"/>
        <result column="PAY_STATUS" jdbcType="VARCHAR" property="payStatus"/>
        <result column="TRADE_NO" jdbcType="VARCHAR" property="tradeNo"/>
        <result column="PAYMENT_ORDER_NO" jdbcType="VARCHAR" property="paymentOrderNo"/>
        <result column="PAY_DATE" jdbcType="TIMESTAMP" property="payDate"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="BaseColumnList">
        ID, ORDER_NO, ORDER_TYPE, PARENT_ORDER_NO, THIRD_USER_ID, USER_ID, ORDER_SOURCE, CARD_TYPE,
        SHOW_TYPE, TICKET_NAME, TICKET_PRICE, PAY_AMOUNT, PAY_CHANNEL_CODE,
        CHANNEL_TYPE, PAY_SCENE, ORDER_STATUS, PAY_STATUS, TRADE_NO,
        PAYMENT_ORDER_NO, PAY_DATE, CREATE_TIME, UPDATE_TIME
    </sql>

    <insert id="insert" parameterType="com.chinasofti.huateng.dailyticket.model.DailyTicketOrder">
        insert into DAILY_TICKET_ORDER (
            ID, ORDER_NO, ORDER_TYPE, PARENT_ORDER_NO, THIRD_USER_ID, USER_ID, ORDER_SOURCE, CARD_TYPE,
            SHOW_TYPE, TICKET_NAME, TICKET_PRICE, PAY_AMOUNT, PAY_CHANNEL_CODE,
            CHANNEL_TYPE, PAY_SCENE, ORDER_STATUS, PAY_STATUS, TRADE_NO,
            PAYMENT_ORDER_NO, PAY_DATE, CREATE_TIME, UPDATE_TIME
        ) values (
            #{id,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR},
            #{parentOrderNo,jdbcType=VARCHAR},
            #{thirdUserId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{orderSource,jdbcType=VARCHAR},
            #{cardType,jdbcType=VARCHAR}, #{showType,jdbcType=VARCHAR}, #{ticketName,jdbcType=VARCHAR},
            #{ticketPrice,jdbcType=INTEGER}, #{payAmount,jdbcType=INTEGER}, #{payChannelCode,jdbcType=VARCHAR},
            #{channelType,jdbcType=VARCHAR}, #{payScene,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR},
            #{payStatus,jdbcType=VARCHAR}, #{tradeNo,jdbcType=VARCHAR}, #{paymentOrderNo,jdbcType=VARCHAR},
            #{payDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="selectByOrderNo" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from DAILY_TICKET_ORDER
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </select>

    <select id="selectByParentOrderNo" resultMap="BaseResultMap">
        select <include refid="BaseColumnList"/>
        from DAILY_TICKET_ORDER
        where PARENT_ORDER_NO = #{parentOrderNo,jdbcType=VARCHAR}
        order by ORDER_NO
    </select>

    <select id="selectRefundOrders" resultType="com.chinasofti.huateng.dailyticket.page.DailyTicketRefundOrderView">
        <!-- 订单、票实例和退款单一并返回，页面无需逐条查询详情。 -->
        select O.ORDER_NO as orderNo,
               O.PAYMENT_ORDER_NO as paymentOrderNo,
               O.TRADE_NO as tradeNo,
               O.TICKET_NAME as ticketName,
               O.TICKET_PRICE as ticketPrice,
               O.PAY_AMOUNT as payAmount,
               O.PAY_CHANNEL_CODE as payChannelCode,
               O.ORDER_STATUS as orderStatus,
               O.PAY_STATUS as payStatus,
               O.PAY_DATE as payDate,
               O.CREATE_TIME as createTime,
               I.TICKET_STATUS as ticketStatus,
               I.CARD_NUM as cardNum,
               R.REFUND_ORDER_NO as refundOrderNo,
               R.PLATFORM_REFUND_NO as platformRefundNo,
               R.REFUND_STATUS as refundStatus,
               R.REFUND_TYPE as refundType,
               R.REFUND_AMOUNT as refundAmount,
               R.REFUND_DATE as refundDate,
               R.VERIFY_AFTER_TIME as verifyAfterTime
        from DAILY_TICKET_ORDER O
        left join DAILY_TICKET_INSTANCE I on I.ORDER_NO = O.ORDER_NO
        left join DAILY_TICKET_REFUND R on R.ORDER_NO = O.ORDER_NO
        <where>
            <if test="beginTime != null">
                and O.CREATE_TIME <![CDATA[ >= ]]> #{beginTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                and O.CREATE_TIME <![CDATA[ <= ]]> #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and O.ORDER_NO = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="paymentOrderNo != null and paymentOrderNo != ''">
                and O.PAYMENT_ORDER_NO = #{paymentOrderNo,jdbcType=VARCHAR}
            </if>
        </where>
        order by O.CREATE_TIME desc
    </select>

    <update id="updatePayRequest" parameterType="com.chinasofti.huateng.dailyticket.model.DailyTicketOrder">
        update DAILY_TICKET_ORDER
        set THIRD_USER_ID = #{thirdUserId,jdbcType=VARCHAR},
            PAY_CHANNEL_CODE = #{payChannelCode,jdbcType=VARCHAR},
            CHANNEL_TYPE = #{channelType,jdbcType=VARCHAR},
            PAY_SCENE = #{payScene,jdbcType=VARCHAR},
            ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
            PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
            UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
          and ((ORDER_STATUS = 'CREATED' and PAY_STATUS = 'INIT')
            or (ORDER_STATUS = 'PAYING' and PAY_STATUS = 'PAYING'))
    </update>

    <update id="updatePayResultIfPaying" parameterType="com.chinasofti.huateng.dailyticket.model.DailyTicketOrder">
        update DAILY_TICKET_ORDER
        set ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
            PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
            TRADE_NO = #{tradeNo,jdbcType=VARCHAR},
            PAYMENT_ORDER_NO = #{paymentOrderNo,jdbcType=VARCHAR},
            PAY_AMOUNT = #{payAmount,jdbcType=INTEGER},
            PAY_DATE = #{payDate,jdbcType=TIMESTAMP},
            UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
          and ORDER_STATUS = 'PAYING'
          and PAY_STATUS = 'PAYING'
    </update>

    <update id="updatePaymentOrderNo">
        update DAILY_TICKET_ORDER
        set PAYMENT_ORDER_NO = #{paymentOrderNo,jdbcType=VARCHAR},
            UPDATE_TIME = SYSTIMESTAMP
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
          and (PAYMENT_ORDER_NO is null or PAYMENT_ORDER_NO = #{paymentOrderNo,jdbcType=VARCHAR})
    </update>

    <update id="updateOrderStatus">
        update DAILY_TICKET_ORDER
        set ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
            UPDATE_TIME = SYSTIMESTAMP
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </update>
</mapper>
