<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.dailyticket.mapper.ReconExportMapper">

    <!-- SQL 正文里一律不写注释：Druid WallFilter 的 commentAllow 默认为 false，SQL 带注释会被 -->

    <select id="selectDetailPage" resultType="java.util.Map">
        SELECT
            TO_CHAR(O.PAY_DATE, 'YYYYMMDD') AS OPERATE_DATE,
            TO_CHAR(O.PAY_DATE, 'YYYYMMDDHH24MISS') AS TXN_DATE_TIME,
            O.PAY_DATE AS PAY_DATE,
            O.ORDER_NO AS ORDER_NO,
            O.PAY_AMOUNT AS PAY_AMOUNT,
            I.CARD_NUM AS CARD_NUM
        FROM DAILY_TICKET_ORDER O
        LEFT JOIN DAILY_TICKET_INSTANCE I ON I.ORDER_NO = O.ORDER_NO
        WHERE O.PAY_STATUS = 'PAID'
          AND O.PAY_DATE &gt;= #{windowStart,jdbcType=TIMESTAMP}
          AND O.PAY_DATE &lt; #{windowEnd,jdbcType=TIMESTAMP}
        <if test="lastPayDate != null and lastOrderNo != null">
          AND (O.PAY_DATE &gt; #{lastPayDate,jdbcType=TIMESTAMP}
               OR (O.PAY_DATE = #{lastPayDate,jdbcType=TIMESTAMP} AND O.ORDER_NO &gt; #{lastOrderNo,jdbcType=VARCHAR}))
        </if>
        ORDER BY O.PAY_DATE, O.ORDER_NO
        FETCH FIRST #{limit} ROWS ONLY
    </select>


    <select id="selectTravelTicketPaySummary" resultType="java.util.Map">
        SELECT
            TO_CHAR(O.PAY_DATE, 'YYYYMMDD') AS TXN_DATE,
            O.PAY_CHANNEL_CODE AS PAY_CHANNEL_CODE,
            COUNT(*) AS TICKET_COUNT,
            NVL(SUM(NVL(O.PAY_AMOUNT, O.TICKET_PRICE)), 0) AS TICKET_AMOUNT
        FROM DAILY_TICKET_ORDER O
        WHERE O.PARENT_ORDER_NO IS NOT NULL
          AND O.PAY_STATUS = 'PAID'
          AND O.PAY_DATE &gt;= #{windowStart,jdbcType=TIMESTAMP}
          AND O.PAY_DATE &lt; #{windowEnd,jdbcType=TIMESTAMP}
        GROUP BY TO_CHAR(O.PAY_DATE, 'YYYYMMDD'), O.PAY_CHANNEL_CODE
        ORDER BY 1, 2
    </select>

</mapper>
