<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.collectpay.mapper.BomSaleOrderMapper">
    <resultMap id="BaseResultMap" type="com.chinasofti.huateng.collectpay.entity.BomSaleOrder">
        <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo"/>
        <result column="DEVICE_ID" jdbcType="VARCHAR" property="deviceId"/>
        <result column="IN_STATION_CODE" jdbcType="VARCHAR" property="inStationCode"/>
        <result column="OUT_STATION_CODE" jdbcType="VARCHAR" property="outStationCode"/>
        <result column="TICKET_PRICE" jdbcType="VARCHAR" property="ticketPrice"/>
        <result column="TICKET_NUM" jdbcType="VARCHAR" property="ticketNum"/>
        <result column="totalPrice" jdbcType="VARCHAR" property="totalPrice"/>
        <result column="TICKET_TYPE" jdbcType="VARCHAR" property="ticketType"/>
        <result column="PAY_TYPE" jdbcType="VARCHAR" property="payType"/>
        <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        ORDER_NO, DEVICE_ID, IN_STATION_CODE, OUT_STATION_CODE, TICKET_PRICE, TICKET_NUM,
        totalPrice, TICKET_TYPE, PAY_TYPE, CREATE_TIME, UPDATE_TIME
    </sql>

    <select id="selectByOrderNo" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from TBL_BOM_SALE_INFO
        where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </select>


    <insert id="insertBomSaleTicketInfo" parameterType="map">
        insert into TBL_BOM_SALE_INFO (
            ORDER_NO, DEVICE_ID, IN_STATION_CODE,OUT_STATION_CODE, TICKET_PRICE, TICKET_NUM, totalPrice,TICKET_TYPE, PAY_TYPE,CREATE_TIME
        ) values (
            #{orderNo,jdbcType=VARCHAR},
            #{deviceId,jdbcType=VARCHAR},
            #{entryStationCode,jdbcType=VARCHAR},
            #{exitStationCode,jdbcType=VARCHAR},
            #{ticketPrice,jdbcType=VARCHAR},
            #{singelTicketNum,jdbcType=VARCHAR},
            #{totalPrice,jdbcType=VARCHAR},
            #{singleTicketType,jdbcType=VARCHAR},
            #{payType,jdbcType=VARCHAR},
            #{createTime,jdbcType=VARCHAR}
        )
    </insert>

</mapper>