<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.collectpay.mapper.TvmSubTicketMapper">
    <resultMap id="BaseResultMap" type="com.chinasofti.huateng.collectpay.entity.TvmSubTicket">
        <result column="MAIN_TICKET_ID" jdbcType="BIGINT" property="mainTicketId"/>
        <result column="TICKET_LOGIC_NUM" jdbcType="VARCHAR" property="ticketLogicNum"/>
        <result column="TRANS_DATE" jdbcType="VARCHAR" property="transDate"/>
        <result column="TRANS_AMOUNT" jdbcType="VARCHAR" property="transAmount"/>
        <result column="create_Time" jdbcType="VARCHAR" property="createTime"/>
        <result column="RSV2" jdbcType="VARCHAR" property="rsv2"/>
    </resultMap>

    <resultMap id="SubBaseResultMap" type="com.chinasofti.huateng.collectpay.entity.SubTicket">
        <result column="MAIN_TICKET_ID" jdbcType="BIGINT" property="mainTicketId"/>
        <result column="TICKET_LOGIC_NUM" jdbcType="VARCHAR" property="ticketLogicNum"/>
        <result column="TRANS_DATE" jdbcType="VARCHAR" property="transDate"/>
        <result column="TRANS_AMOUNT" jdbcType="VARCHAR" property="transAmount"/>
        <result column="create_Time" jdbcType="VARCHAR" property="createTime"/>
        <result column="businessType" jdbcType="VARCHAR" property="businessType"/>
    </resultMap>

    <sql id="Base_Column_List">
        MAIN_TICKET_ID, TICKET_LOGIC_NUM, TRANS_DATE, TRANS_AMOUNT,create_Time
    </sql>


    <select id="selectByMainTicketId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_TVM_SUB_TICKET
        where MAIN_TICKET_ID = #{mainTicketId,jdbcType=VARCHAR}
    </select>

    <select id="selectByCondition" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from TBL_TVM_SUB_TICKET
        where TICKET_LOGIC_NUM = #{ticketLogicNum,jdbcType=VARCHAR}
        and TRANS_DATE = #{transDate,jdbcType=VARCHAR}
        and create_Time = (select max(create_Time) from TBL_TVM_SUB_TICKET
        where TICKET_LOGIC_NUM = #{ticketLogicNum,jdbcType=VARCHAR}
        and TRANS_DATE = #{transDate,jdbcType=VARCHAR}
        )

    </select>

    <insert id="insert" parameterType="com.chinasofti.huateng.collectpay.entity.TvmSubTicket">
        insert into TBL_TVM_SUB_TICKET (
        MAIN_TICKET_ID, TICKET_LOGIC_NUM, TRANS_DATE, TRANS_AMOUNT,create_Time
        ) values (
        #{mainTicketId,jdbcType=VARCHAR},
        #{ticketLogicNum,jdbcType=VARCHAR},
        #{transDate,jdbcType=VARCHAR},
        #{transAmount,jdbcType=VARCHAR},
        #{createTime,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="batchInsert">
        insert into TBL_TVM_SUB_TICKET (
        MAIN_TICKET_ID, TICKET_LOGIC_NUM, TRANS_DATE, TRANS_AMOUNT,create_Time
        ) values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.mainTicketId,jdbcType=BIGINT},
            #{item.ticketLogicNum,jdbcType=VARCHAR},
            #{item.transDate,jdbcType=VARCHAR},
            #{item.transAmount,jdbcType=VARCHAR}
            #{item.createTime,jdbcType=VARCHAR}
            )select
            <include refid="Base_Column_List"/>
            from TBL_TVM_SUB_TICKET
            where TICKET_LOGIC_NUM = #{ticketLogicNum,jdbcType=VARCHAR}
            and TRANS_DATE = #{transDate,jdbcType=VARCHAR}
            and create_Time = (select max(create_Time) from TBL_TVM_SUB_TICKET
            where TICKET_LOGIC_NUM = #{ticketLogicNum,jdbcType=VARCHAR}
            and TRANS_DATE = #{transDate,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <select id="selectSubTickettByCondition" parameterType="map" resultMap="SubBaseResultMap">
        SELECT MAIN_TICKET_ID, TICKET_LOGIC_NUM, TRANS_DATE, TRANS_AMOUNT,create_Time,businessType FROM (
        select
        MAIN_TICKET_ID, TICKET_LOGIC_NUM, TRANS_DATE, TRANS_AMOUNT,create_Time,'tvm' AS businessType
        from TBL_TVM_SUB_TICKET
        where UPPER(TICKET_LOGIC_NUM) = UPPER(#{ticketLogicNum,jdbcType=VARCHAR})
        UNION all
        select
        MAIN_TICKET_ID, TICKET_LOGIC_NUM, TRANS_DATE, TRANS_AMOUNT,create_Time,'bom' AS businessType
        from TBL_BOM_SUB_TICKET
        where UPPER(TICKET_LOGIC_NUM) = UPPER(#{ticketLogicNum,jdbcType=VARCHAR}))
        WHERE TRANS_DATE = #{transDate,jdbcType=VARCHAR}
    </select>

    <update id="updateByTicketLogicNum" parameterType="java.util.Map">
        update TBL_BOM_SUB_TICKET
        set rsv2 = #{rsv2,jdbcType=VARCHAR}
        where UPPER(TICKET_LOGIC_NUM) = UPPER(#{ticketLogicNum,jdbcType=VARCHAR})
    </update>

</mapper>
