<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.alipay.paysign.mapper.AlipaySignInfoMapper">
    <select id="selectByAgreementCode" resultType="com.chinasofti.huateng.alipay.paysign.entity.AlipaySignInfo">
        SELECT * FROM ALIPAY_SIGN_INFO WHERE AGREEMENT_CODE = #{agreementCode,jdbcType=VARCHAR} AND DELETE_FLAG = '0'
    </select>

    <select id="selectByThirdUserIdAndChannel" resultType="com.chinasofti.huateng.alipay.paysign.entity.AlipaySignInfo">
        SELECT * FROM ALIPAY_SIGN_INFO WHERE THIRD_USER_ID = #{thirdUserId,jdbcType=VARCHAR} AND CHANNEL = #{channel,jdbcType=VARCHAR} AND DELETE_FLAG = '0'
    </select>

    <insert id="insert" parameterType="com.chinasofti.huateng.alipay.paysign.entity.AlipaySignInfo" useGeneratedKeys="false">
        INSERT INTO ALIPAY_SIGN_INFO (
            AGREEMENT_CODE, THIRD_USER_ID, CARD_ID, CARD_TYPE, CHANNEL_AGREEMENT_CODE,
            CHANNEL_USER_ACCOUNT, CHANNEL, SIGN_STATUS, OPERATION_TYPE, SIGN_TIME,
            TERMINATION_TIME, DELETE_FLAG, VERSION, CREATE_TIME, UPDATE_TIME
        ) VALUES (
            #{agreementCode,jdbcType=VARCHAR}, #{thirdUserId,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, #{channelAgreementCode,jdbcType=VARCHAR},
            #{channelUserAccount,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{signStatus,jdbcType=VARCHAR}, #{operationType,jdbcType=VARCHAR}, #{signTime,jdbcType=TIMESTAMP},
            #{terminationTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateStatus">
        UPDATE ALIPAY_SIGN_INFO
        SET SIGN_STATUS = #{signStatus,jdbcType=VARCHAR}, UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        WHERE AGREEMENT_CODE = #{agreementCode,jdbcType=VARCHAR} AND DELETE_FLAG = '0'
    </update>
</mapper>
