<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.para.mapper.fare.BaseFarePageMapper">
    <!-- 票价页只读当前费率版本；基础票价固定关联 FARE_TYPE=0。 -->
    <select id="selectCurrentPage" resultType="com.chinasofti.huateng.para.model.BaseFarePageView">
        SELECT m.BEGIN_STAT_CODE entryStationCode,
               es.STATION_NM entryStationName,
               m.END_STAT_CODE exitStationCode,
               xs.STATION_NM exitStationName,
               m.FARE_TIER fareTier,
               f.TICKET_PRICE ticketPrice
        FROM TBL_FARE_MATRIX m
        INNER JOIN TBL_BASE_FARE f
            ON f.PARA_VER_NO = m.PARA_VER_NO
           AND f.FARE_TIER = m.FARE_TIER
           AND f.FARE_TYPE = 0
        LEFT JOIN TBL_STATION_INFO es
            ON es.PARA_VER_NO = (SELECT CURRENT_VER_NO FROM TBL_PARA_VERSION WHERE PARA_TYPE = '0001')
           AND es.STATION_CODE = m.BEGIN_STAT_CODE
        LEFT JOIN TBL_STATION_INFO xs
            ON xs.PARA_VER_NO = (SELECT CURRENT_VER_NO FROM TBL_PARA_VERSION WHERE PARA_TYPE = '0001')
           AND xs.STATION_CODE = m.END_STAT_CODE
        WHERE m.PARA_VER_NO = (SELECT CURRENT_VER_NO FROM TBL_PARA_VERSION WHERE PARA_TYPE = '0004')
        <if test="entryStationCode != null and entryStationCode != ''">
            AND m.BEGIN_STAT_CODE = #{entryStationCode,jdbcType=VARCHAR}
        </if>
        <if test="exitStationCode != null and exitStationCode != ''">
            AND m.END_STAT_CODE = #{exitStationCode,jdbcType=VARCHAR}
        </if>
        <if test="entryLineCode != null and entryLineCode != ''">
            AND m.BEGIN_STAT_CODE IN (SELECT STATION_CODE FROM TBL_STATION_INFO
                WHERE PARA_VER_NO = (SELECT CURRENT_VER_NO FROM TBL_PARA_VERSION WHERE PARA_TYPE = '0001')
                  AND OWNER_LINE_ID = #{entryLineCode,jdbcType=VARCHAR})
        </if>
        <if test="exitLineCode != null and exitLineCode != ''">
            AND m.END_STAT_CODE IN (SELECT STATION_CODE FROM TBL_STATION_INFO
                WHERE PARA_VER_NO = (SELECT CURRENT_VER_NO FROM TBL_PARA_VERSION WHERE PARA_TYPE = '0001')
                  AND OWNER_LINE_ID = #{exitLineCode,jdbcType=VARCHAR})
        </if>
        ORDER BY m.BEGIN_STAT_CODE, m.END_STAT_CODE
    </select>

    <select id="selectCurrentStations" resultType="com.chinasofti.huateng.para.model.BaseFareStationOption">
        <!-- 进出站筛选只展示当前路网版本的车站，可按线路过滤。 -->
        SELECT STATION_CODE stationCode, STATION_NM stationName
        FROM TBL_STATION_INFO
        WHERE PARA_VER_NO = (SELECT CURRENT_VER_NO FROM TBL_PARA_VERSION WHERE PARA_TYPE = '0001')
        <if test="lineCode != null and lineCode != ''">
            AND OWNER_LINE_ID = #{lineCode,jdbcType=VARCHAR}
        </if>
        ORDER BY STATION_CODE
    </select>

    <select id="selectCurrentLines" resultType="com.chinasofti.huateng.para.model.BaseFareLineOption">
        <!-- 线路下拉只展示当前路网版本的线路。 -->
        SELECT LINE_CODE lineCode, LINE_NM lineName
        FROM TBL_LINE_INFO
        WHERE PARA_VER_NO = (SELECT CURRENT_VER_NO FROM TBL_PARA_VERSION WHERE PARA_TYPE = '0001')
        ORDER BY LINE_CODE
    </select>
</mapper>
