<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.para.mapper.fare.BaseFareMapper">
    <delete id="deleteByParaVerNo">
        DELETE FROM TBL_BASE_FARE WHERE PARA_VER_NO = #{paraVerNo,jdbcType=NUMERIC}
    </delete>

    <insert id="insertBatch">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO TBL_BASE_FARE (PARA_VER_NO, FARE_TYPE, FARE_TIER, TICKET_PRICE)
            VALUES (#{item.paraVerNo,jdbcType=NUMERIC}, #{item.fareType,jdbcType=NUMERIC},
                    #{item.fareTier,jdbcType=NUMERIC}, #{item.ticketPrice,jdbcType=NUMERIC})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
</mapper>
