<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.para.mapper.calendar.SpecialDateMapper">
    <delete id="deleteByParaVerNo">
        DELETE FROM TBL_SPECIAL_DATE WHERE PARA_VER_NO = #{paraVerNo,jdbcType=NUMERIC}
    </delete>

    <insert id="insertBatch">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO TBL_SPECIAL_DATE (PARA_VER_NO, SEQ_NO, DATE_TYPE, SPECIAL_DATE, LAST_UPD_USER, LAST_UPD_TMS)
            VALUES (#{item.paraVerNo,jdbcType=NUMERIC}, #{item.seqNo,jdbcType=NUMERIC},
                    #{item.dateType,jdbcType=VARCHAR}, #{item.specialDate,jdbcType=VARCHAR},
                    #{item.lastUpdUser,jdbcType=VARCHAR}, #{item.lastUpdTms,jdbcType=TIMESTAMP})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
</mapper>
