<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.para.mapper.fare.TicketFareMapper">
    <delete id="deleteByParaVerNo">
        DELETE FROM TBL_TICKET_FARE WHERE PARA_VER_NO = #{paraVerNo,jdbcType=NUMERIC}
    </delete>

    <insert id="insertBatch">
        INSERT ALL
        <foreach collection="list" item="item">
            INTO TBL_TICKET_FARE (PARA_VER_NO, TICKET_TYPE, CHIP_TYPE, FARE_GROUP_NO, LAST_UPD_USER, LAST_UPD_TMS)
            VALUES (#{item.paraVerNo,jdbcType=NUMERIC}, #{item.ticketType,jdbcType=NUMERIC},
                    #{item.chipType,jdbcType=VARCHAR}, #{item.fareGroupNo,jdbcType=NUMERIC},
                    #{item.lastUpdUser,jdbcType=VARCHAR}, #{item.lastUpdTms,jdbcType=TIMESTAMP})
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
</mapper>
