<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.acc.es.server.mapper.TblStlAcctInfoMapper">
  <resultMap id="BaseResultMap" type="com.chinasofti.huateng.acc.es.server.model.TblStlAcctInfo">
    <id column="TICKET_LOGIC_NO" jdbcType="CHAR" property="ticketLogicNo" />
    <result column="TICKET_TYPE" jdbcType="DECIMAL" property="ticketType" />
    <result column="TICKET_SUB_TYPE" jdbcType="DECIMAL" property="ticketSubType" />
    <result column="TICKET_CSN" jdbcType="VARCHAR" property="ticketCsn" />
    <result column="TICKET_FACE_NO" jdbcType="VARCHAR" property="ticketFaceNo" />
    <result column="CARD_TYPE" jdbcType="CHAR" property="cardType" />
    <result column="TICKET_VER" jdbcType="DECIMAL" property="ticketVer" />
    <result column="PHY_TYPE" jdbcType="DECIMAL" property="phyType" />
    <result column="PUB_DATE" jdbcType="CHAR" property="pubDate" />
    <result column="PUB_BATCH_NO" jdbcType="DECIMAL" property="pubBatchNo" />
    <result column="VALID_AREA" jdbcType="VARCHAR" property="validArea" />
    <result column="MISC_CD" jdbcType="CHAR" property="miscCd" />
    <result column="INIT_AMT" jdbcType="DECIMAL" property="initAmt" />
    <result column="INIT_REW_AMT" jdbcType="DECIMAL" property="initRewAmt" />
    <result column="DEP_AMT" jdbcType="DECIMAL" property="depAmt" />
    <result column="REM_DEP_AMT" jdbcType="DECIMAL" property="remDepAmt" />
    <result column="EXPIRE_DATE" jdbcType="CHAR" property="expireDate" />
    <result column="TICKET_STATUS" jdbcType="CHAR" property="ticketStatus" />
    <result column="REFUND_STATUS" jdbcType="CHAR" property="refundStatus" />
    <result column="CHANGE_DATE" jdbcType="CHAR" property="changeDate" />
    <result column="SALE_TIME" jdbcType="TIMESTAMP" property="saleTime" />
    <result column="TOT_ADD_AMT" jdbcType="DECIMAL" property="totAddAmt" />
    <result column="TOT_ADD_COUNT" jdbcType="DECIMAL" property="totAddCount" />
    <result column="ADD_COUNTER" jdbcType="DECIMAL" property="addCounter" />
    <result column="TOT_CONS_COUNT" jdbcType="DECIMAL" property="totConsCount" />
    <result column="TOT_CONS_AMT" jdbcType="DECIMAL" property="totConsAmt" />
    <result column="CONS_COUNTER" jdbcType="DECIMAL" property="consCounter" />
    <result column="TICKET_BAL" jdbcType="DECIMAL" property="ticketBal" />
    <result column="ACCT_BAL" jdbcType="DECIMAL" property="acctBal" />
    <result column="LAST_TXN_TMS" jdbcType="TIMESTAMP" property="lastTxnTms" />
    <result column="ORG_TICKET_ID" jdbcType="CHAR" property="orgTicketId" />
    <result column="NEW_TICKET_ID" jdbcType="CHAR" property="newTicketId" />
    <result column="LAST_UPD_USER" jdbcType="VARCHAR" property="lastUpdUser" />
    <result column="LAST_UPD_TMS" jdbcType="TIMESTAMP" property="lastUpdTms" />
  </resultMap>
  <sql id="Base_Column_List">
    TICKET_LOGIC_NO, TICKET_TYPE, TICKET_SUB_TYPE, TICKET_CSN, TICKET_FACE_NO, CARD_TYPE, 
    TICKET_VER, PHY_TYPE, PUB_DATE, PUB_BATCH_NO, VALID_AREA, MISC_CD, INIT_AMT, INIT_REW_AMT, 
    DEP_AMT, REM_DEP_AMT, EXPIRE_DATE, TICKET_STATUS, REFUND_STATUS, CHANGE_DATE, SALE_TIME, 
    TOT_ADD_AMT, TOT_ADD_COUNT, ADD_COUNTER, TOT_CONS_COUNT, TOT_CONS_AMT, CONS_COUNTER, 
    TICKET_BAL, ACCT_BAL, LAST_TXN_TMS, ORG_TICKET_ID, NEW_TICKET_ID, LAST_UPD_USER, 
    LAST_UPD_TMS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TBL_STL_ACCT_INFO
    where TICKET_LOGIC_NO = #{ticketLogicNo,jdbcType=CHAR}
  </select>
    <select id="selectByCsn" resultMap="BaseResultMap">
      SELECT <include refid="Base_Column_List"/> FROM TBL_STL_ACCT_INFO WHERE TICKET_CSN = '00000000' || #{csn}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TBL_STL_ACCT_INFO
    where TICKET_LOGIC_NO = #{ticketLogicNo,jdbcType=CHAR}
  </delete>
    <delete id="deleteStat" parameterType="com.chinasofti.huateng.acc.es.server.model.TblStlAcctInfo">
      UPDATE TBL_STL_ACCT_INFO SET TICKET_STATUS = '04' WHERE TICKET_LOGIC_NO = #{ticketLogicNo}
    </delete>
  <update id="delTheOldStat" parameterType="com.chinasofti.huateng.acc.es.server.model.TblStlAcctInfo">
    UPDATE TBL_STL_ACCT_INFO SET TICKET_STATUS = '04' WHERE TICKET_LOGIC_NO = #{orgTicketId}
  </update>
  <insert id="insert" keyColumn="TICKET_LOGIC_NO" keyProperty="ticketLogicNo" parameterType="com.chinasofti.huateng.acc.es.server.model.TblStlAcctInfo" useGeneratedKeys="true">
    insert into TBL_STL_ACCT_INFO (TICKET_LOGIC_NO,TICKET_TYPE, TICKET_SUB_TYPE, TICKET_CSN,
      TICKET_FACE_NO, CARD_TYPE, TICKET_VER, 
      PHY_TYPE, PUB_DATE, PUB_BATCH_NO, 
      VALID_AREA, MISC_CD, INIT_AMT, 
      INIT_REW_AMT, DEP_AMT, REM_DEP_AMT, 
      EXPIRE_DATE, TICKET_STATUS, REFUND_STATUS, 
      CHANGE_DATE, SALE_TIME, TOT_ADD_AMT, 
      TOT_ADD_COUNT, ADD_COUNTER, TOT_CONS_COUNT, 
      TOT_CONS_AMT, CONS_COUNTER, TICKET_BAL, 
      ACCT_BAL, LAST_TXN_TMS, ORG_TICKET_ID, 
      NEW_TICKET_ID, LAST_UPD_USER, LAST_UPD_TMS
      )
    values (#{ticketLogicNo},#{ticketType,jdbcType=DECIMAL}, #{ticketSubType,jdbcType=DECIMAL}, #{ticketCsn,jdbcType=VARCHAR},
      #{ticketFaceNo,jdbcType=VARCHAR}, #{cardType,jdbcType=CHAR}, #{ticketVer,jdbcType=DECIMAL}, 
      #{phyType,jdbcType=DECIMAL}, #{pubDate,jdbcType=CHAR}, #{pubBatchNo,jdbcType=DECIMAL}, 
      #{validArea,jdbcType=VARCHAR}, #{miscCd,jdbcType=CHAR}, #{initAmt,jdbcType=DECIMAL}, 
      #{initRewAmt,jdbcType=DECIMAL}, #{depAmt,jdbcType=DECIMAL}, #{remDepAmt,jdbcType=DECIMAL}, 
      #{expireDate,jdbcType=CHAR}, #{ticketStatus,jdbcType=CHAR}, #{refundStatus,jdbcType=CHAR}, 
      #{changeDate,jdbcType=CHAR}, #{saleTime,jdbcType=TIMESTAMP}, #{totAddAmt,jdbcType=DECIMAL}, 
      #{totAddCount,jdbcType=DECIMAL}, #{addCounter,jdbcType=DECIMAL}, #{totConsCount,jdbcType=DECIMAL}, 
      #{totConsAmt,jdbcType=DECIMAL}, #{consCounter,jdbcType=DECIMAL}, #{ticketBal,jdbcType=DECIMAL}, 
      #{acctBal,jdbcType=DECIMAL}, #{lastTxnTms,jdbcType=TIMESTAMP}, #{orgTicketId,jdbcType=CHAR}, 
      #{newTicketId,jdbcType=CHAR}, #{lastUpdUser,jdbcType=VARCHAR}, #{lastUpdTms,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="TICKET_LOGIC_NO" keyProperty="ticketLogicNo" parameterType="com.chinasofti.huateng.acc.es.server.model.TblStlAcctInfo" useGeneratedKeys="true">
    insert into TBL_STL_ACCT_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ticketType != null">
        TICKET_TYPE,
      </if>
      <if test="ticketSubType != null">
        TICKET_SUB_TYPE,
      </if>
      <if test="ticketCsn != null">
        TICKET_CSN,
      </if>
      <if test="ticketFaceNo != null">
        TICKET_FACE_NO,
      </if>
      <if test="cardType != null">
        CARD_TYPE,
      </if>
      <if test="ticketVer != null">
        TICKET_VER,
      </if>
      <if test="phyType != null">
        PHY_TYPE,
      </if>
      <if test="pubDate != null">
        PUB_DATE,
      </if>
      <if test="pubBatchNo != null">
        PUB_BATCH_NO,
      </if>
      <if test="validArea != null">
        VALID_AREA,
      </if>
      <if test="miscCd != null">
        MISC_CD,
      </if>
      <if test="initAmt != null">
        INIT_AMT,
      </if>
      <if test="initRewAmt != null">
        INIT_REW_AMT,
      </if>
      <if test="depAmt != null">
        DEP_AMT,
      </if>
      <if test="remDepAmt != null">
        REM_DEP_AMT,
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE,
      </if>
      <if test="ticketStatus != null">
        TICKET_STATUS,
      </if>
      <if test="refundStatus != null">
        REFUND_STATUS,
      </if>
      <if test="changeDate != null">
        CHANGE_DATE,
      </if>
      <if test="saleTime != null">
        SALE_TIME,
      </if>
      <if test="totAddAmt != null">
        TOT_ADD_AMT,
      </if>
      <if test="totAddCount != null">
        TOT_ADD_COUNT,
      </if>
      <if test="addCounter != null">
        ADD_COUNTER,
      </if>
      <if test="totConsCount != null">
        TOT_CONS_COUNT,
      </if>
      <if test="totConsAmt != null">
        TOT_CONS_AMT,
      </if>
      <if test="consCounter != null">
        CONS_COUNTER,
      </if>
      <if test="ticketBal != null">
        TICKET_BAL,
      </if>
      <if test="acctBal != null">
        ACCT_BAL,
      </if>
      <if test="lastTxnTms != null">
        LAST_TXN_TMS,
      </if>
      <if test="orgTicketId != null">
        ORG_TICKET_ID,
      </if>
      <if test="newTicketId != null">
        NEW_TICKET_ID,
      </if>
      <if test="lastUpdUser != null">
        LAST_UPD_USER,
      </if>
      <if test="lastUpdTms != null">
        LAST_UPD_TMS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ticketType != null">
        #{ticketType,jdbcType=DECIMAL},
      </if>
      <if test="ticketSubType != null">
        #{ticketSubType,jdbcType=DECIMAL},
      </if>
      <if test="ticketCsn != null">
        #{ticketCsn,jdbcType=VARCHAR},
      </if>
      <if test="ticketFaceNo != null">
        #{ticketFaceNo,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=CHAR},
      </if>
      <if test="ticketVer != null">
        #{ticketVer,jdbcType=DECIMAL},
      </if>
      <if test="phyType != null">
        #{phyType,jdbcType=DECIMAL},
      </if>
      <if test="pubDate != null">
        #{pubDate,jdbcType=CHAR},
      </if>
      <if test="pubBatchNo != null">
        #{pubBatchNo,jdbcType=DECIMAL},
      </if>
      <if test="validArea != null">
        #{validArea,jdbcType=VARCHAR},
      </if>
      <if test="miscCd != null">
        #{miscCd,jdbcType=CHAR},
      </if>
      <if test="initAmt != null">
        #{initAmt,jdbcType=DECIMAL},
      </if>
      <if test="initRewAmt != null">
        #{initRewAmt,jdbcType=DECIMAL},
      </if>
      <if test="depAmt != null">
        #{depAmt,jdbcType=DECIMAL},
      </if>
      <if test="remDepAmt != null">
        #{remDepAmt,jdbcType=DECIMAL},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=CHAR},
      </if>
      <if test="ticketStatus != null">
        #{ticketStatus,jdbcType=CHAR},
      </if>
      <if test="refundStatus != null">
        #{refundStatus,jdbcType=CHAR},
      </if>
      <if test="changeDate != null">
        #{changeDate,jdbcType=CHAR},
      </if>
      <if test="saleTime != null">
        #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totAddAmt != null">
        #{totAddAmt,jdbcType=DECIMAL},
      </if>
      <if test="totAddCount != null">
        #{totAddCount,jdbcType=DECIMAL},
      </if>
      <if test="addCounter != null">
        #{addCounter,jdbcType=DECIMAL},
      </if>
      <if test="totConsCount != null">
        #{totConsCount,jdbcType=DECIMAL},
      </if>
      <if test="totConsAmt != null">
        #{totConsAmt,jdbcType=DECIMAL},
      </if>
      <if test="consCounter != null">
        #{consCounter,jdbcType=DECIMAL},
      </if>
      <if test="ticketBal != null">
        #{ticketBal,jdbcType=DECIMAL},
      </if>
      <if test="acctBal != null">
        #{acctBal,jdbcType=DECIMAL},
      </if>
      <if test="lastTxnTms != null">
        #{lastTxnTms,jdbcType=TIMESTAMP},
      </if>
      <if test="orgTicketId != null">
        #{orgTicketId,jdbcType=CHAR},
      </if>
      <if test="newTicketId != null">
        #{newTicketId,jdbcType=CHAR},
      </if>
      <if test="lastUpdUser != null">
        #{lastUpdUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdTms != null">
        #{lastUpdTms,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.huateng.acc.es.server.model.TblStlAcctInfo">
    update TBL_STL_ACCT_INFO
    <set>
      <if test="ticketType != null">
        TICKET_TYPE = #{ticketType,jdbcType=DECIMAL},
      </if>
      <if test="ticketSubType != null">
        TICKET_SUB_TYPE = #{ticketSubType,jdbcType=DECIMAL},
      </if>
      <if test="ticketCsn != null">
        TICKET_CSN = #{ticketCsn,jdbcType=VARCHAR},
      </if>
      <if test="ticketFaceNo != null">
        TICKET_FACE_NO = #{ticketFaceNo,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null">
        CARD_TYPE = #{cardType,jdbcType=CHAR},
      </if>
      <if test="ticketVer != null">
        TICKET_VER = #{ticketVer,jdbcType=DECIMAL},
      </if>
      <if test="phyType != null">
        PHY_TYPE = #{phyType,jdbcType=DECIMAL},
      </if>
      <if test="pubDate != null">
        PUB_DATE = #{pubDate,jdbcType=CHAR},
      </if>
      <if test="pubBatchNo != null">
        PUB_BATCH_NO = #{pubBatchNo,jdbcType=DECIMAL},
      </if>
      <if test="validArea != null">
        VALID_AREA = #{validArea,jdbcType=VARCHAR},
      </if>
      <if test="miscCd != null">
        MISC_CD = #{miscCd,jdbcType=CHAR},
      </if>
      <if test="initAmt != null">
        INIT_AMT = #{initAmt,jdbcType=DECIMAL},
      </if>
      <if test="initRewAmt != null">
        INIT_REW_AMT = #{initRewAmt,jdbcType=DECIMAL},
      </if>
      <if test="depAmt != null">
        DEP_AMT = #{depAmt,jdbcType=DECIMAL},
      </if>
      <if test="remDepAmt != null">
        REM_DEP_AMT = #{remDepAmt,jdbcType=DECIMAL},
      </if>
      <if test="expireDate != null">
        EXPIRE_DATE = #{expireDate,jdbcType=CHAR},
      </if>
      <if test="ticketStatus != null">
        TICKET_STATUS = #{ticketStatus,jdbcType=CHAR},
      </if>
      <if test="refundStatus != null">
        REFUND_STATUS = #{refundStatus,jdbcType=CHAR},
      </if>
      <if test="changeDate != null">
        CHANGE_DATE = #{changeDate,jdbcType=CHAR},
      </if>
      <if test="saleTime != null">
        SALE_TIME = #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totAddAmt != null">
        TOT_ADD_AMT = #{totAddAmt,jdbcType=DECIMAL},
      </if>
      <if test="totAddCount != null">
        TOT_ADD_COUNT = #{totAddCount,jdbcType=DECIMAL},
      </if>
      <if test="addCounter != null">
        ADD_COUNTER = #{addCounter,jdbcType=DECIMAL},
      </if>
      <if test="totConsCount != null">
        TOT_CONS_COUNT = #{totConsCount,jdbcType=DECIMAL},
      </if>
      <if test="totConsAmt != null">
        TOT_CONS_AMT = #{totConsAmt,jdbcType=DECIMAL},
      </if>
      <if test="consCounter != null">
        CONS_COUNTER = #{consCounter,jdbcType=DECIMAL},
      </if>
      <if test="ticketBal != null">
        TICKET_BAL = #{ticketBal,jdbcType=DECIMAL},
      </if>
      <if test="acctBal != null">
        ACCT_BAL = #{acctBal,jdbcType=DECIMAL},
      </if>
      <if test="lastTxnTms != null">
        LAST_TXN_TMS = #{lastTxnTms,jdbcType=TIMESTAMP},
      </if>
      <if test="orgTicketId != null">
        ORG_TICKET_ID = #{orgTicketId,jdbcType=CHAR},
      </if>
      <if test="newTicketId != null">
        NEW_TICKET_ID = #{newTicketId,jdbcType=CHAR},
      </if>
      <if test="lastUpdUser != null">
        LAST_UPD_USER = #{lastUpdUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdTms != null">
        LAST_UPD_TMS = #{lastUpdTms,jdbcType=TIMESTAMP},
      </if>
    </set>
    where TICKET_LOGIC_NO = #{ticketLogicNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.huateng.acc.es.server.model.TblStlAcctInfo">
    update TBL_STL_ACCT_INFO
    set TICKET_TYPE = #{ticketType,jdbcType=DECIMAL},
      TICKET_SUB_TYPE = #{ticketSubType,jdbcType=DECIMAL},
      TICKET_CSN = #{ticketCsn,jdbcType=VARCHAR},
      TICKET_FACE_NO = #{ticketFaceNo,jdbcType=VARCHAR},
      CARD_TYPE = #{cardType,jdbcType=CHAR},
      TICKET_VER = #{ticketVer,jdbcType=DECIMAL},
      PHY_TYPE = #{phyType,jdbcType=DECIMAL},
      PUB_DATE = #{pubDate,jdbcType=CHAR},
      PUB_BATCH_NO = #{pubBatchNo,jdbcType=DECIMAL},
      VALID_AREA = #{validArea,jdbcType=VARCHAR},
      MISC_CD = #{miscCd,jdbcType=CHAR},
      INIT_AMT = #{initAmt,jdbcType=DECIMAL},
      INIT_REW_AMT = #{initRewAmt,jdbcType=DECIMAL},
      DEP_AMT = #{depAmt,jdbcType=DECIMAL},
      REM_DEP_AMT = #{remDepAmt,jdbcType=DECIMAL},
      EXPIRE_DATE = #{expireDate,jdbcType=CHAR},
      TICKET_STATUS = #{ticketStatus,jdbcType=CHAR},
      REFUND_STATUS = #{refundStatus,jdbcType=CHAR},
      CHANGE_DATE = #{changeDate,jdbcType=CHAR},
      SALE_TIME = #{saleTime,jdbcType=TIMESTAMP},
      TOT_ADD_AMT = #{totAddAmt,jdbcType=DECIMAL},
      TOT_ADD_COUNT = #{totAddCount,jdbcType=DECIMAL},
      ADD_COUNTER = #{addCounter,jdbcType=DECIMAL},
      TOT_CONS_COUNT = #{totConsCount,jdbcType=DECIMAL},
      TOT_CONS_AMT = #{totConsAmt,jdbcType=DECIMAL},
      CONS_COUNTER = #{consCounter,jdbcType=DECIMAL},
      TICKET_BAL = #{ticketBal,jdbcType=DECIMAL},
      ACCT_BAL = #{acctBal,jdbcType=DECIMAL},
      LAST_TXN_TMS = #{lastTxnTms,jdbcType=TIMESTAMP},
      ORG_TICKET_ID = #{orgTicketId,jdbcType=CHAR},
      NEW_TICKET_ID = #{newTicketId,jdbcType=CHAR},
      LAST_UPD_USER = #{lastUpdUser,jdbcType=VARCHAR},
      LAST_UPD_TMS = #{lastUpdTms,jdbcType=TIMESTAMP}
    where TICKET_LOGIC_NO = #{ticketLogicNo,jdbcType=CHAR}
  </update>
</mapper>