<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.paysign.mapper.PaySignInfoMapper">
    <!-- 注释只能写在这里：SQL 正文禁写行注释或块注释，Druid WallFilter 会判定为注入并让该语句静默失效。 -->
    <resultMap id="BaseResultMap" type="com.chinasofti.huateng.paysign.entity.PaySignInfo">
        <id column="REQUEST_SIGN_SEQ" jdbcType="VARCHAR" property="requestSignSeq"/>
        <result column="THIRD_USER_ID" jdbcType="VARCHAR" property="thirdUserId"/>
        <result column="SIGN_STATUS" jdbcType="VARCHAR" property="signStatus"/>
        <result column="SIGN_CHANNEL" jdbcType="VARCHAR" property="signChannel"/>
        <result column="PAYMENT_VENDOR" jdbcType="VARCHAR" property="paymentVendor"/>
        <result column="CARD_ID" jdbcType="VARCHAR" property="cardId"/>
        <result column="CARD_TYPE" jdbcType="VARCHAR" property="cardType"/>
        <result column="PAY_ACCOUNT_ID" jdbcType="VARCHAR" property="payAccountId"/>
        <result column="PAY_AGREEMENT_NO" jdbcType="VARCHAR" property="payAgreementNo"/>
        <result column="DISPLAY_ACCOUNT" jdbcType="VARCHAR" property="displayAccount"/>
        <result column="SIGN_TIME" jdbcType="TIMESTAMP" property="signTime"/>
        <result column="TERMINATION_TIME" jdbcType="TIMESTAMP" property="terminationTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        REQUEST_SIGN_SEQ, THIRD_USER_ID, SIGN_STATUS, SIGN_CHANNEL, PAYMENT_VENDOR,
        CARD_ID, CARD_TYPE, PAY_ACCOUNT_ID, PAY_AGREEMENT_NO, DISPLAY_ACCOUNT,
        SIGN_TIME, TERMINATION_TIME
    </sql>

    <select id="selectBySeq" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from (
            select <include refid="Base_Column_List"/>
            from APP_PAY_SIGN_INFO
            where REQUEST_SIGN_SEQ = #{requestSignSeq,jdbcType=VARCHAR}
            <if test="paymentVendor != null and paymentVendor != ''">
                and PAYMENT_VENDOR = #{paymentVendor,jdbcType=VARCHAR}
            </if>
        )
        where ROWNUM = 1
    </select>

    <select id="selectByUserAndVendor" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from APP_PAY_SIGN_INFO
        where THIRD_USER_ID = #{thirdUserId,jdbcType=VARCHAR}
          and PAYMENT_VENDOR = #{paymentVendor,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.chinasofti.huateng.paysign.entity.PaySignInfo">
        INSERT INTO APP_PAY_SIGN_INFO (
            REQUEST_SIGN_SEQ, THIRD_USER_ID, SIGN_STATUS, SIGN_CHANNEL, PAYMENT_VENDOR,
            CARD_ID, CARD_TYPE, PAY_ACCOUNT_ID, PAY_AGREEMENT_NO, DISPLAY_ACCOUNT,
            SIGN_TIME, TERMINATION_TIME
        ) VALUES (
            #{requestSignSeq,jdbcType=VARCHAR},
            #{thirdUserId,jdbcType=VARCHAR},
            #{signStatus,jdbcType=VARCHAR},
            #{signChannel,jdbcType=VARCHAR},
            #{paymentVendor,jdbcType=VARCHAR},
            #{cardId,jdbcType=VARCHAR},
            #{cardType,jdbcType=VARCHAR},
            #{payAccountId,jdbcType=VARCHAR},
            #{payAgreementNo,jdbcType=VARCHAR},
            #{displayAccount,jdbcType=VARCHAR},
            #{signTime,jdbcType=TIMESTAMP},
            #{terminationTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateBySeq" parameterType="com.chinasofti.huateng.paysign.entity.PaySignInfo">
        UPDATE APP_PAY_SIGN_INFO
        <set>
            <if test="signStatus != null">SIGN_STATUS = #{signStatus,jdbcType=VARCHAR},</if>
            <if test="payAccountId != null">PAY_ACCOUNT_ID = #{payAccountId,jdbcType=VARCHAR},</if>
            <if test="payAgreementNo != null">PAY_AGREEMENT_NO = #{payAgreementNo,jdbcType=VARCHAR},</if>
            <if test="displayAccount != null">DISPLAY_ACCOUNT = #{displayAccount,jdbcType=VARCHAR},</if>
            <if test="signTime != null">SIGN_TIME = #{signTime,jdbcType=TIMESTAMP},</if>
            <if test="terminationTime != null">TERMINATION_TIME = #{terminationTime,jdbcType=TIMESTAMP},</if>
        </set>
        WHERE REQUEST_SIGN_SEQ = #{requestSignSeq,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByUserAndVendor">
        DELETE FROM APP_PAY_SIGN_INFO
        WHERE THIRD_USER_ID = #{thirdUserId,jdbcType=VARCHAR}
          AND PAYMENT_VENDOR = #{paymentVendor,jdbcType=VARCHAR}
    </delete>

    <update id="updateDisplayAccountByThirdUserId">
        UPDATE APP_PAY_SIGN_INFO
        SET DISPLAY_ACCOUNT = #{displayAccount,jdbcType=VARCHAR}
        WHERE THIRD_USER_ID = #{thirdUserId,jdbcType=VARCHAR}
    </update>

    <update id="markSigned">
        UPDATE APP_PAY_SIGN_INFO
        SET SIGN_STATUS = 'SIGNED',
            PAY_ACCOUNT_ID = #{payAccountId,jdbcType=VARCHAR},
            PAY_AGREEMENT_NO = #{payAgreementNo,jdbcType=VARCHAR},
            SIGN_TIME = #{signTime,jdbcType=TIMESTAMP}
        WHERE REQUEST_SIGN_SEQ = #{requestSignSeq,jdbcType=VARCHAR}
          AND SIGN_STATUS IN ('NOT_SIGNED', 'FAILED')
    </update>

    <update id="markSignFailed">
        UPDATE APP_PAY_SIGN_INFO
        SET SIGN_STATUS = 'FAILED'
        WHERE REQUEST_SIGN_SEQ = #{requestSignSeq,jdbcType=VARCHAR}
          AND SIGN_STATUS = 'NOT_SIGNED'
    </update>

    <update id="markUnsigned">
        UPDATE APP_PAY_SIGN_INFO
        SET SIGN_STATUS = 'UNSIGNED',
            TERMINATION_TIME = #{terminationTime,jdbcType=TIMESTAMP}
        WHERE REQUEST_SIGN_SEQ = #{requestSignSeq,jdbcType=VARCHAR}
          AND SIGN_STATUS = 'SIGNED'
    </update>

    <update id="reactivateForResign">
        UPDATE APP_PAY_SIGN_INFO
        SET SIGN_STATUS = 'NOT_SIGNED',
            PAY_ACCOUNT_ID = NULL,
            PAY_AGREEMENT_NO = NULL,
            SIGN_TIME = NULL,
            TERMINATION_TIME = NULL
        WHERE REQUEST_SIGN_SEQ = #{requestSignSeq,jdbcType=VARCHAR}
          AND SIGN_STATUS IN ('UNSIGNED', 'FAILED')
    </update>

    <select id="selectSignStatusBySeq" resultType="java.lang.String">
        SELECT SIGN_STATUS
        FROM APP_PAY_SIGN_INFO
        WHERE REQUEST_SIGN_SEQ = #{requestSignSeq,jdbcType=VARCHAR}
    </select>

</mapper>
