<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.paysign.mapper.PayTxnDetailMapper">
    <!-- 注释只能写在这里：SQL 正文禁写行注释或块注释，Druid WallFilter 会判定为注入并让该语句静默失效。 -->
    <resultMap id="BaseResultMap" type="com.chinasofti.huateng.paysign.entity.PayTxnDetail">
        <id column="ID" jdbcType="NUMERIC" property="id"/>
        <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo"/>
        <result column="PAY_TYPE" jdbcType="VARCHAR" property="payType"/>
        <result column="PAY_STATUS" jdbcType="VARCHAR" property="payStatus"/>
        <result column="THIRD_USER_ID" jdbcType="VARCHAR" property="thirdUserId"/>
        <result column="CARD_ID" jdbcType="VARCHAR" property="cardId"/>
        <result column="CARD_TYPE" jdbcType="VARCHAR" property="cardType"/>
        <result column="PAYMENT_VENDOR" jdbcType="VARCHAR" property="paymentVendor"/>
        <result column="REQUEST_SIGN_SEQ" jdbcType="VARCHAR" property="requestSignSeq"/>
        <result column="AMOUNT" jdbcType="NUMERIC" property="amount"/>
        <result column="TOTAL_AMOUNT" jdbcType="NUMERIC" property="totalAmount"/>
        <result column="CASH_AMOUNT" jdbcType="NUMERIC" property="cashAmount"/>
        <result column="COUPON_AMOUNT" jdbcType="NUMERIC" property="couponAmount"/>
        <result column="REFUND_STATUS" jdbcType="VARCHAR" property="refundStatus"/>
        <result column="REFUND_AMOUNT" jdbcType="NUMERIC" property="refundAmount"/>
        <result column="LAST_REFUND_TIME" jdbcType="TIMESTAMP" property="lastRefundTime"/>
        <result column="MERCHANT_ORDER_NO" jdbcType="VARCHAR" property="merchantOrderNo"/>
        <result column="CHANNEL_ORDER_NO" jdbcType="VARCHAR" property="channelOrderNo"/>
        <result column="PAY_USER_ID" jdbcType="VARCHAR" property="payUserId"/>
        <result column="REQUEST_COUNT" jdbcType="NUMERIC" property="requestCount"/>
        <result column="NEXT_REQUEST_TIME" jdbcType="TIMESTAMP" property="nextRequestTime"/>
        <result column="LAST_REQUEST_TIME" jdbcType="TIMESTAMP" property="lastRequestTime"/>
        <result column="FIRST_REQUEST_TIME" jdbcType="TIMESTAMP" property="firstRequestTime"/>
        <result column="RESPONSE_TIME" jdbcType="TIMESTAMP" property="responseTime"/>
        <result column="PAY_TIME" jdbcType="VARCHAR" property="payTime"/>
        <result column="TXN_DATE" jdbcType="VARCHAR" property="txnDate"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="DISCOUNT_INFO" jdbcType="VARCHAR" property="discountInfo"/>
        <result column="DEBIT_REQUEST_RESULT" jdbcType="VARCHAR" property="debitRequestResult"/>
        <result column="DISCOUNT_FEE" jdbcType="NUMERIC" property="discountFee"/>
        <result column="TRANS_IN" jdbcType="VARCHAR" property="transIn"/>
        <result column="PAY_CENTER_ORDER_NO" jdbcType="VARCHAR" property="payCenterOrderNo"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, ORDER_NO, PAY_TYPE, PAY_STATUS, THIRD_USER_ID, CARD_ID, CARD_TYPE,
        PAYMENT_VENDOR, REQUEST_SIGN_SEQ, AMOUNT, TOTAL_AMOUNT,
        CASH_AMOUNT, COUPON_AMOUNT, REFUND_STATUS, REFUND_AMOUNT, LAST_REFUND_TIME,
        MERCHANT_ORDER_NO, CHANNEL_ORDER_NO, PAY_USER_ID, REQUEST_COUNT,
        NEXT_REQUEST_TIME, LAST_REQUEST_TIME, FIRST_REQUEST_TIME, RESPONSE_TIME,
        PAY_TIME, TXN_DATE, CREATE_TIME, UPDATE_TIME,
        DISCOUNT_INFO, DEBIT_REQUEST_RESULT, DISCOUNT_FEE, TRANS_IN, PAY_CENTER_ORDER_NO
    </sql>

    <insert id="insert" parameterType="com.chinasofti.huateng.paysign.entity.PayTxnDetail">
        INSERT INTO PAY_TXN_DETAIL (
            ID, ORDER_NO, PAY_TYPE, PAY_STATUS, THIRD_USER_ID, CARD_ID, CARD_TYPE,
            PAYMENT_VENDOR, REQUEST_SIGN_SEQ, AMOUNT, TOTAL_AMOUNT,
            CASH_AMOUNT, COUPON_AMOUNT, REFUND_STATUS, REFUND_AMOUNT, LAST_REFUND_TIME,
            MERCHANT_ORDER_NO, CHANNEL_ORDER_NO, PAY_USER_ID, REQUEST_COUNT,
            NEXT_REQUEST_TIME, LAST_REQUEST_TIME, FIRST_REQUEST_TIME, RESPONSE_TIME,
            PAY_TIME, TXN_DATE, CREATE_TIME, UPDATE_TIME,
            DISCOUNT_INFO, DEBIT_REQUEST_RESULT, DISCOUNT_FEE, TRANS_IN, PAY_CENTER_ORDER_NO
        ) VALUES (
            SEQ_PAY_TXN_DETAIL.NEXTVAL,
            #{orderNo,jdbcType=VARCHAR},
            #{payType,jdbcType=VARCHAR},
            #{payStatus,jdbcType=VARCHAR},
            #{thirdUserId,jdbcType=VARCHAR},
            #{cardId,jdbcType=VARCHAR},
            #{cardType,jdbcType=VARCHAR},
            #{paymentVendor,jdbcType=VARCHAR},
            #{requestSignSeq,jdbcType=VARCHAR},
            #{amount,jdbcType=NUMERIC},
            #{totalAmount,jdbcType=NUMERIC},
            #{cashAmount,jdbcType=NUMERIC},
            #{couponAmount,jdbcType=NUMERIC},
            #{refundStatus,jdbcType=VARCHAR},
            #{refundAmount,jdbcType=NUMERIC},
            #{lastRefundTime,jdbcType=TIMESTAMP},
            #{merchantOrderNo,jdbcType=VARCHAR},
            #{channelOrderNo,jdbcType=VARCHAR},
            #{payUserId,jdbcType=VARCHAR},
            #{requestCount,jdbcType=NUMERIC},
            #{nextRequestTime,jdbcType=TIMESTAMP},
            #{lastRequestTime,jdbcType=TIMESTAMP},
            #{firstRequestTime,jdbcType=TIMESTAMP},
            #{responseTime,jdbcType=TIMESTAMP},
            #{payTime,jdbcType=VARCHAR},
            #{txnDate,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
            #{discountInfo,jdbcType=VARCHAR},
            #{debitRequestResult,jdbcType=VARCHAR},
            #{discountFee,jdbcType=NUMERIC},
            #{transIn,jdbcType=VARCHAR},
            #{payCenterOrderNo,jdbcType=VARCHAR}
        )
    </insert>

    <select id="selectByOrderNo" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM PAY_TXN_DETAIL
        WHERE ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </select>

    <select id="selectByOrderNos" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM PAY_TXN_DETAIL
        WHERE ORDER_NO IN
        <foreach collection="orderNos" item="orderNo" open="(" separator="," close=")">
            #{orderNo,jdbcType=VARCHAR}
        </foreach>
    </select>

    <update id="markRequesting">
        UPDATE PAY_TXN_DETAIL
        SET REQUEST_COUNT = NVL(REQUEST_COUNT, 0) + 1,
            PAY_STATUS = 'PROCESSING',
            FIRST_REQUEST_TIME = NVL(FIRST_REQUEST_TIME, SYSTIMESTAMP),
            LAST_REQUEST_TIME = SYSTIMESTAMP,
            UPDATE_TIME = SYSTIMESTAMP
        WHERE ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </update>

    <update id="updateRequestResult" parameterType="com.chinasofti.huateng.paysign.entity.PayTxnDetail">
        UPDATE PAY_TXN_DETAIL
        SET PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
            MERCHANT_ORDER_NO = #{merchantOrderNo,jdbcType=VARCHAR},
            PAY_CENTER_ORDER_NO = NVL(#{payCenterOrderNo,jdbcType=VARCHAR}, PAY_CENTER_ORDER_NO),
            CHANNEL_ORDER_NO = #{channelOrderNo,jdbcType=VARCHAR},
            DEBIT_REQUEST_RESULT = #{debitRequestResult,jdbcType=VARCHAR},
            RESPONSE_TIME = #{responseTime,jdbcType=TIMESTAMP},
            TRANS_IN = #{transIn,jdbcType=VARCHAR},
            UPDATE_TIME = SYSTIMESTAMP
        WHERE ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </update>

    <update id="updatePayCallback" parameterType="com.chinasofti.huateng.paysign.entity.PayTxnDetail">
        UPDATE PAY_TXN_DETAIL
        SET PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
            DEBIT_REQUEST_RESULT = #{debitRequestResult,jdbcType=VARCHAR},
            MERCHANT_ORDER_NO = NVL(#{merchantOrderNo,jdbcType=VARCHAR}, MERCHANT_ORDER_NO),
            PAY_CENTER_ORDER_NO = NVL(#{payCenterOrderNo,jdbcType=VARCHAR}, PAY_CENTER_ORDER_NO),
            CHANNEL_ORDER_NO = NVL(#{channelOrderNo,jdbcType=VARCHAR}, CHANNEL_ORDER_NO),
            TOTAL_AMOUNT = NVL(#{totalAmount,jdbcType=NUMERIC}, TOTAL_AMOUNT),
            CASH_AMOUNT = NVL(#{cashAmount,jdbcType=NUMERIC}, CASH_AMOUNT),
            COUPON_AMOUNT = NVL(#{couponAmount,jdbcType=NUMERIC}, COUPON_AMOUNT),
            PAY_USER_ID = NVL(#{payUserId,jdbcType=VARCHAR}, PAY_USER_ID),
            PAYMENT_VENDOR = NVL(#{paymentVendor,jdbcType=VARCHAR}, PAYMENT_VENDOR),
            PAY_TIME = NVL(#{payTime,jdbcType=VARCHAR}, PAY_TIME),
            DISCOUNT_FEE = NVL(#{discountFee,jdbcType=NUMERIC}, DISCOUNT_FEE),
            DISCOUNT_INFO = NVL(#{discountInfo,jdbcType=VARCHAR}, DISCOUNT_INFO),
            UPDATE_TIME = SYSTIMESTAMP
        WHERE ORDER_NO = #{orderNo,jdbcType=VARCHAR}
          AND (PAY_STATUS IS NULL OR PAY_STATUS IN ('INIT', 'PROCESSING', 'RETRY', 'FAIL'))
    </update>

    <update id="updateRefundSummary">
        UPDATE PAY_TXN_DETAIL P
        SET REFUND_AMOUNT = (
                SELECT NVL(SUM(R.REFUND_AMOUNT), 0)
                FROM PAY_REFUND_DETAIL R
                WHERE R.ORDER_NO = P.ORDER_NO
                  AND R.REFUND_STATUS = 'SUCCESS'
            ),
            REFUND_STATUS = CASE
                WHEN (SELECT NVL(SUM(R.REFUND_AMOUNT), 0) FROM PAY_REFUND_DETAIL R
                      WHERE R.ORDER_NO = P.ORDER_NO AND R.REFUND_STATUS = 'SUCCESS') &lt;= 0
                    THEN P.REFUND_STATUS
                WHEN (SELECT NVL(SUM(R.REFUND_AMOUNT), 0) FROM PAY_REFUND_DETAIL R
                      WHERE R.ORDER_NO = P.ORDER_NO AND R.REFUND_STATUS = 'SUCCESS')
                     >= NVL(NULLIF(P.TOTAL_AMOUNT, 0), P.AMOUNT)
                    THEN 'SUCCESS'
                ELSE 'PARTIAL'
            END,
            LAST_REFUND_TIME = SYSTIMESTAMP,
            UPDATE_TIME = SYSTIMESTAMP
        WHERE P.ORDER_NO = #{orderNo,jdbcType=VARCHAR}
    </update>
</mapper>
