<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.facepay.mapper.F2fTicketMapper">

    <!-- 本文件内所有 SQL 正文 NEVER 出现行注释或块注释：Druid WallFilter 的 commentAllow=false 会判定为注入并让语句静默失效。 -->

    <resultMap id="BaseResultMap" type="com.chinasofti.huateng.facepay.entity.F2fTicket">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="ORDER_NO" jdbcType="VARCHAR" property="orderNo"/>
        <result column="TICKET_LOGIC_NUM" jdbcType="VARCHAR" property="ticketLogicNum"/>
        <result column="TRANS_DATE" jdbcType="VARCHAR" property="transDate"/>
        <result column="TICKET_PRICE" jdbcType="BIGINT" property="ticketPrice"/>
        <result column="TICKET_STATUS" jdbcType="VARCHAR" property="ticketStatus"/>
        <result column="ENTRY_STATION_CODE" jdbcType="VARCHAR" property="entryStationCode"/>
        <result column="EXIT_STATION_CODE" jdbcType="VARCHAR" property="exitStationCode"/>
        <result column="PAY_CHANNEL_CODE" jdbcType="VARCHAR" property="payChannelCode"/>
        <result column="REFUND_NO" jdbcType="VARCHAR" property="refundNo"/>
        <result column="CREATE_TMS" jdbcType="TIMESTAMP" property="createTms"/>
        <result column="UPDATE_TMS" jdbcType="TIMESTAMP" property="updateTms"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, ORDER_NO, TICKET_LOGIC_NUM, TRANS_DATE, TICKET_PRICE, TICKET_STATUS,
        ENTRY_STATION_CODE, EXIT_STATION_CODE, PAY_CHANNEL_CODE, REFUND_NO,
        CREATE_TMS, UPDATE_TMS
    </sql>

    <insert id="insert" parameterType="com.chinasofti.huateng.facepay.entity.F2fTicket">
        INSERT INTO F2F_TICKET (
            ORDER_NO, TICKET_LOGIC_NUM, TRANS_DATE, TICKET_PRICE, TICKET_STATUS,
            ENTRY_STATION_CODE, EXIT_STATION_CODE, PAY_CHANNEL_CODE, REFUND_NO,
            CREATE_TMS, UPDATE_TMS
        ) VALUES (
            #{orderNo,jdbcType=VARCHAR},
            #{ticketLogicNum,jdbcType=VARCHAR},
            #{transDate,jdbcType=VARCHAR},
            #{ticketPrice,jdbcType=BIGINT},
            #{ticketStatus,jdbcType=VARCHAR},
            #{entryStationCode,jdbcType=VARCHAR},
            #{exitStationCode,jdbcType=VARCHAR},
            #{payChannelCode,jdbcType=VARCHAR},
            #{refundNo,jdbcType=VARCHAR},
            #{createTms,jdbcType=TIMESTAMP},
            #{updateTms,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="batchInsert">
        INSERT ALL
        <foreach collection="tickets" item="t" separator=" ">
            INTO F2F_TICKET (
                ORDER_NO, TICKET_LOGIC_NUM, TRANS_DATE, TICKET_PRICE, TICKET_STATUS,
                ENTRY_STATION_CODE, EXIT_STATION_CODE, PAY_CHANNEL_CODE, REFUND_NO,
                CREATE_TMS, UPDATE_TMS
            ) VALUES (
                #{t.orderNo,jdbcType=VARCHAR},
                #{t.ticketLogicNum,jdbcType=VARCHAR},
                #{t.transDate,jdbcType=VARCHAR},
                #{t.ticketPrice,jdbcType=BIGINT},
                #{t.ticketStatus,jdbcType=VARCHAR},
                #{t.entryStationCode,jdbcType=VARCHAR},
                #{t.exitStationCode,jdbcType=VARCHAR},
                #{t.payChannelCode,jdbcType=VARCHAR},
                #{t.refundNo,jdbcType=VARCHAR},
                #{t.createTms,jdbcType=TIMESTAMP},
                #{t.updateTms,jdbcType=TIMESTAMP}
            )
        </foreach>
        SELECT * FROM DUAL
    </insert>

    <!-- 按订单号枚举该单全部票，命中 IDX_F2F_TICKET_ORDER。 -->
    <select id="selectByOrderNo" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM F2F_TICKET
        WHERE ORDER_NO = #{orderNo,jdbcType=VARCHAR}
        ORDER BY TRANS_DATE
    </select>

    <select id="selectByLogicNumAndTransDate" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM F2F_TICKET
        WHERE TICKET_LOGIC_NUM = #{ticketLogicNum,jdbcType=VARCHAR}
          AND TRANS_DATE = #{transDate,jdbcType=VARCHAR}
    </select>

    <select id="selectLatestByLogicNum" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM F2F_TICKET
        WHERE TICKET_LOGIC_NUM = #{ticketLogicNum,jdbcType=VARCHAR}
        ORDER BY TRANS_DATE DESC
        FETCH FIRST 1 ROWS ONLY
    </select>

    <update id="updateStatus">
        UPDATE F2F_TICKET
        SET TICKET_STATUS = #{toStatus,jdbcType=VARCHAR},
            UPDATE_TMS = SYSTIMESTAMP
        WHERE TICKET_LOGIC_NUM = #{ticketLogicNum,jdbcType=VARCHAR}
          AND TRANS_DATE = #{transDate,jdbcType=VARCHAR}
          AND TICKET_STATUS IN
        <foreach collection="fromStatuses" item="st" open="(" separator="," close=")">
            #{st,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateRefundNo">
        UPDATE F2F_TICKET
        SET REFUND_NO = #{refundNo,jdbcType=VARCHAR},
            TICKET_STATUS = 'REFUNDED',
            UPDATE_TMS = SYSTIMESTAMP
        WHERE TICKET_LOGIC_NUM = #{ticketLogicNum,jdbcType=VARCHAR}
          AND TRANS_DATE = #{transDate,jdbcType=VARCHAR}
          AND TICKET_STATUS IN ('REFUNDING', 'ISSUED', 'FAULT')
    </update>

</mapper>
