<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.facepay.mapper.GateTxnPayMapper">


    <resultMap id="GateTxnPayLiteMap" type="com.chinasofti.huateng.facepay.entity.GateTxnPay">
        <result column="ORDER_NO" property="orderNo"/>
        <result column="DEBIT_STATUS" property="debitStatus"/>
        <result column="THIRD_USER_ID" property="thirdUserId"/>
        <result column="CARD_ID" property="cardId"/>
        <result column="CARD_TYPE" property="cardType"/>
        <result column="TXN_DATE" property="txnDate"/>
        <result column="TOTAL_AMOUNT" property="totalAmount"/>
        <result column="PAYMENT_VENDOR" property="paymentVendor"/>
        <result column="SIGN_CHANNEL_CODE" property="signChannelCode"/>
    </resultMap>

    <select id="selectByOrderNos" resultMap="GateTxnPayLiteMap">
        SELECT ORDER_NO, DEBIT_STATUS, THIRD_USER_ID, CARD_ID, CARD_TYPE,
               TXN_DATE, TOTAL_AMOUNT, PAYMENT_VENDOR, SIGN_CHANNEL_CODE
        FROM GATE_TXN_PAY
        WHERE ORDER_NO IN
        <foreach collection="orderNos" item="orderNo" open="(" separator="," close=")">
            #{orderNo,jdbcType=VARCHAR}
        </foreach>
        ORDER BY OUT_TIME, ID
    </select>

</mapper>
