<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinasofti.huateng.key.mapper.MetroCaKeystoreMapper">
    <resultMap id="BaseResultMap" type="com.chinasofti.huateng.key.entity.MetroCaKeystore">
        <id column="ID" jdbcType="NUMERIC" property="id"/>
        <result column="KEY_IDX" jdbcType="VARCHAR" property="keyIdx"/>
        <result column="KEY_PRIVATE" jdbcType="VARCHAR" property="keyPrivate"/>
        <result column="KEY_PUBLIC" jdbcType="VARCHAR" property="keyPublic"/>
        <result column="KEY_EFFECTIVE_DATE" jdbcType="VARCHAR" property="keyEffectiveDate"/>
        <result column="KEY_STATUS" jdbcType="NUMERIC" property="keyStatus"/>
        <result column="MANAGER_ID" jdbcType="VARCHAR" property="managerId"/>
        <result column="RESERVE" jdbcType="VARCHAR" property="reserve"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate"/>
        <result column="REG_DATE" jdbcType="TIMESTAMP" property="regDate"/>
        <result column="KEY_PAIR" jdbcType="VARCHAR" property="keyPair"/>
    </resultMap>

    <select id="selectActiveList" resultMap="BaseResultMap">
        select ID, KEY_IDX, KEY_PRIVATE, KEY_PUBLIC, KEY_EFFECTIVE_DATE,
               KEY_STATUS, MANAGER_ID, RESERVE, REMARK, UPDATE_DATE, REG_DATE, KEY_PAIR
        from METRO_CA_KEYSTORE
        where KEY_STATUS = 1
    </select>
</mapper>
